@model List<UI.Models.GamingGroup.TopGamingGroupSummaryViewModel>

<div id="gamingGroupsVote" class="fl-right" style="margin-top: 21px; margin-bottom: 10.5px;"></div>
<div class="fl-clear"></div>
<div class="flip-scroll">
	<table class="table table-hover table-striped" id="topGamingGroupsTable">
		<thead>
			<tr>
				<th>Gaming Group</th>
				<th>Played Games</th>
				<th>Players</th>
				<th>Leader</th>
			</tr>
		</thead>
        @{ var position = 1; }
		@foreach (var topGamingGroup in @Model)
		{
			<tr data-position="@position">
                @{ position++; }
				<td>@Html.ActionLink(topGamingGroup.GamingGroupName, "Details", "GamingGroup", new { id = topGamingGroup.GamingGroupId }, new { })</td>
				<td>@topGamingGroup.NumberOfGamesPlayed</td>
				<td>@topGamingGroup.NumberOfPlayers</td>
				<td>@Html.ActionLink(topGamingGroup.GamingGroupChampion.Name, "Details", "Player", new { id = topGamingGroup.GamingGroupChampion.Id }, new { })</td>
			</tr>
		}
	</table>
</div>