@model UI.Models.GamingGroup.GamingGroupsSummaryViewModel

<div class="flip-scroll">
	<table class="table table-hover table-striped" id="topGamingGroupsTable">
		<thead>
			<tr>
				<th>Gaming Group</th>
				<th>Played Games</th>
				<th>Players</th>
			    <th>Group Champion</th>
                @if (Model.ShowForEdit)
                {
                <th>Active</th>
                }
			</tr>
		</thead>
        @{ var position = 1; }
		@foreach (var gamingGroup in Model.GamingGroups)
		{
			<tr data-position="@position">
                @{ position++; }
				<td>@Html.ActionLink(gamingGroup.GamingGroupName, "Details", "GamingGroup", new { id = gamingGroup.GamingGroupId }, new { })</td>
				<td>@gamingGroup.NumberOfGamesPlayed</td>
				<td>@gamingGroup.NumberOfPlayers</td>
			    <td>
			        @if (gamingGroup.GamingGroupChampion != null)
			        {
			            @Html.ActionLink(gamingGroup.GamingGroupChampion.Name, "Details", "Player", new { id = gamingGroup.GamingGroupChampion.Id }, new { })
			        }
			    </td>
                @if (Model.ShowForEdit)
                {
                    <th>@Html.CheckBoxFor(m => gamingGroup.Active, new { disabled = "disabled" })</th>
                }
			</tr>
		}
	</table>
</div>