@model UI.Models.GamingGroup.GamingGroupPublicViewModel
@{
    ViewBag.Title = Model.Name;
    ViewBag.Description = "View full details for the Gaming Group: " + Model.Name;
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2 class="page-header">@Model.Name</h2>

<div class="row">
    @Html.Partial(MVC.GamingGroup.Views._GamingGroupPublicDetailsPartial, Model.PublicDetailsView, new ViewDataDictionary { { "canEdit", false } })
</div>
<hr />

<div class="row">
    @Html.Partial(MVC.Player.Views._PlayersPartial, Model.Players, new ViewDataDictionary { { "canEdit", false } })
</div>

<div class="row">
    @Html.Partial(MVC.GameDefinition.Views._GameDefinitionsPartial, Model.GameDefinitionSummaries)
</div>

<div class="row">
    @Html.Partial(MVC.PlayedGame.Views._PlayedGamesPartial, Model.PlayedGames)
</div>

<div id="NemeStatsPointsLineGraph">
    <svg style='height:500px;'> </svg>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/d3")
    @Styles.Render("~/bundles/d3/css")
    <script type="text/javascript">
        $(document).ready(function () {
            var gamingGroupDetails = new window.Views.GamingGroup.GamingGroupView();
            gamingGroupDetails.renderNemeStatsPointsLineGraph("/api/v2/PlayedGames/?gamingGroupId=" + @Model.Id);
        });
    </script>
}