@model UI.Models.GamingGroup.GamingGroupPublicViewModel
@{
    ViewBag.Title = Model.Name;
    ViewBag.Description = "View full details for the Gaming Group: " + Model.Name;
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@Model.Name</h2>

<div class="row">
    @Html.Partial(MVC.GamingGroup.Views._GamingGroupPublicDetailsPartial, Model.PublicDetailsView, new ViewDataDictionary { { "canEdit", false } })
</div>
<hr />

<div class="row">
    @Html.Partial(MVC.Player.Views._PlayersPartial, Model.Players, new ViewDataDictionary { { "canEdit", false } })
</div>

<div class="row">
    @Html.Partial(MVC.GameDefinition.Views._GameDefinitionsPartial, Model.GameDefinitionSummaries)
</div>

<div class="row">
    @Html.Partial(MVC.PlayedGame.Views._PlayedGamesPartial, Model.PlayedGames)
</div>