@using UI.HtmlHelpers
@model UI.Models.GamingGroup.GamingGroupViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@Model.Name</h2>
<hr />


<a name="@ViewBag.RecentGamesSectionAnchorText"></a>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Record A Played Game @ViewBag.RecentGamesMessage @Html.ActionLink("Create New", "Create", "PlayedGame", new { }, new { @class = "btn btn-primary btn-sm" })
            </h4>
        </div>
        <div class="panel-body">

            <div class="col-md-4">
                <strong>Game Name</strong>
            </div>
            <div class="col-md-4">
                <strong>Date Played</strong>
            </div>
            <div class="col-md-4">
                <strong>Result</strong>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    @foreach (var item in Model.RecentGames)
    {
        <div class="line-bottom-sm margin-bottom-xs">
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink(item.GameDefinitionName, "Details", "GameDefinition", new { id = item.GameDefinitionId }, new { })
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.DatePlayed)
                </div>
                <div class="col-md-4">
                    @foreach (var result in item.PlayerResults)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.ActionLink(result.PlayerName, "Details", "Player", new { id = result.PlayerId }, new { })
                            </div>
                            <div class="col-sm-6">
                                @Html.GameResults(result)
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Details", "PlayedGame", new { id = item.PlayedGameId })" title="Details">
                        <span class="glyphicon glyphicon-book font-size-sm"></span>
                    </a>
                    @if (item.UserCanEdit)
                    {
                        <a href="@Url.Action("Delete", "PlayedGame", new { id = item.PlayedGameId })" title="Delete">
                            <span class="glyphicon glyphicon-trash font-size-sm"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
    </div>
</div>

<a name="@ViewBag.PlayerSectionAnchorText"></a>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Players @Html.ActionLink("Create New", "Create", "Player", new { }, new { @class = "btn btn-primary btn-sm" })
            </h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Player Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Players)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Player", new { id = item.Id })" title="Edit">
                                        <span class="glyphicon glyphicon-pencil font-size-sm"></span>
                                    </a>

                                    <a href="@Url.Action("Details", "Player", new { id = item.Id })" title="Details">
                                        <span class="glyphicon glyphicon-book font-size-sm"></span>
                                    </a>

                                    <a href="@Url.Action("Delete", "Player", new { id = item.Id })" title="Delete">
                                        <span class="glyphicon glyphicon-trash font-size-sm"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a name="@ViewBag.GameDefinitionSectionAnchorText"></a>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Games This Group Plays
                @Html.ActionLink("Create New", "Create", "GameDefinition", new { }, new { @class = "btn btn-primary btn-sm" })
            </h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GameDefinitions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "GameDefinition", new { id = item.Id })" title="Edit">
                                        <span class="glyphicon glyphicon-pencil font-size-sm"></span>
                                    </a>

                                    <a href="@Url.Action("Details", "GameDefinition", new { id = item.Id })" title="Details">
                                        <span class="glyphicon glyphicon-book font-size-sm"></span>
                                    </a>

                                    <a href="@Url.Action("Delete", "GameDefinition", new { id = item.Id })" title="Delete">
                                        <span class="glyphicon glyphicon-trash font-size-sm"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row panel-group">
    <div class="col-md-2">
        <h4>Invite Other Admins</h4>
    </div>
</div>
<div class="row">
    <div class="form-horizontal">
        @using (Html.BeginForm("GrantAccess", "GamingGroup"))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.Label("Invitee Email Address*", new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.InviteeEmail, new { @class = "form-control col-md-2" })

                <div class="col-md-2">
                    <span data-toggle="tooltip" title="This only allows a player to register with this email address and will place them directly into this Gaming Group.">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </span>
                    @Html.ValidationMessageFor(model => model.InviteeEmail)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Grant Access To Gaming Group" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Past Invites</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Event
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Invitations.Count(); i++)
                        {
                            if (Model.Invitations[i].DateRegistered != null)
                            {
                                @:<tr class="active">
                            }
                            else
                            {
                                @:<tr>
                            }

                            <td>
                                <em>@Html.DisplayNameFor(model => model.Invitations[i].InviteeEmail)</em>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Invitations[i].InviteeEmail)
                            </td>
                            @:</tr>


                            if (Model.Invitations[i].DateRegistered != null)
                            {
                                <tr class="active">
                                    <td>
                                        <em>@Html.DisplayNameFor(model => model.Invitations[i].DateRegistered)</em>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Invitations[i].DateRegistered)
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        <em>@Html.DisplayNameFor(model => model.Invitations[i].RegisteredUserName)</em>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Invitations[i].RegisteredUserName)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
