@using UI.Controllers.Helpers
@using UI.HtmlHelpers
@model UI.Models.PlayedGame.PlayedGameEditViewModel
@{
	ViewBag.Title = "Record a Game";
	Layout = MVC.Shared.Views._BaseLayout;
}
@Html.RenderTempDataMessage(TempMessageKeys.TEMP_MESSAGE_KEY_PLAYED_GAME_RECORDED)

<h2 class="page-header">@ViewBag.Title</h2>
<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Game played</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-7">
				@using (Html.BeginForm("Create", MVC.PlayedGame.Name, FormMethod.Post, new { id = "recordPlayedGame" }))
				{
					@Html.Partial(MVC.PlayedGame.Views._PlayedGameFormPartial, Model)
				}
			</div>
			<div id="addPlayer" class="col-md-5 hidden" style="margin-top: 90px">
				<a href="#addPlayer" id="addPlayerAnchor"></a>
				@Html.Action("SavePlayer", "Player")
			</div>
		</div>
	</div>
</div>

<div id="createdPlayedGameBack">
	@Html.ActionLink("Back To List", "Index", "GamingGroup", null, null, UI.Controllers.GamingGroupController.SECTION_ANCHOR_RECENT_GAMES, null, null)
</div>
@section Scripts{
    @Scripts.Render("~/bundles/moment")
	<script type="text/javascript">
		//Creation
		$(document).ready(function () {
			var createPlayedGame = new window.Views.PlayedGame.CreatePlayedGame();
			var googleAnalyticsObject = new window.Views.Shared.GoogleAnalytics();
			createPlayedGame.init(googleAnalyticsObject);

			var createOrUpdatePlayer = new window.Views.Player.CreateOrUpdate();
			createOrUpdatePlayer.init($.proxy(createPlayedGame.onPlayerCreated, createPlayedGame));
		});
	</script>
}