@model IList<UI.Models.PlayedGame.PlayedGameDetailsViewModel>

@{
    Layout = null;
}           

@using UI.HtmlHelpers
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="fl-left">
            Recently Played Games @ViewBag.RecentGamesMessage
        </h4>
        @if ((bool?)ViewData["canEdit"] == true)
        {
            <div class="fl-right">
                @Html.ActionLink("Record Played Game", "Create", "PlayedGame", new { }, new { @class = "btn btn-default", @id = "recordPlayedGameFromGamingGroup" })
            </div>
        }
        <div class="fl-clear"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-md-3">
                            Game Name
                        </th>
                        <th class="col-md-2">
                            Date Played
                        </th>
                        <th class="col-md-5">
                            Result
                        </th>
                        <th class="col-md-1">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var playedGameDetailsViewModel in Model)
                    {
                        <tr>
                            <td>
                                <b>
                                    @Html.ActionLink(playedGameDetailsViewModel.GameDefinitionName, "Details", "GameDefinition", new { id = playedGameDetailsViewModel.GameDefinitionId }, new { })
                                </b>
                            </td>
                            <td>
                                @playedGameDetailsViewModel.DatePlayed.ToShortDateString()
                            </td>
                            <td>
                                @foreach (var playerGameResultDetails in playedGameDetailsViewModel.PlayerResults)
                                {
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <b>
                                                @Html.ActionLink(playerGameResultDetails.PlayerName, "Details", "Player", new { id = playerGameResultDetails.PlayerId }, new { })
                                            </b>
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.GameResults(playerGameResultDetails, playedGameDetailsViewModel.WinnerType)
                                        </div>
                                    </div>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "PlayedGame", new { id = playedGameDetailsViewModel.PlayedGameId })" title="Details">
                                    <i class="fa fa-book fa-2x"></i>
                                </a>
                                @if (playedGameDetailsViewModel.UserCanEdit)
                                {
									<a href="@Url.Action("Edit", "PlayedGame", new { id = playedGameDetailsViewModel.PlayedGameId })" title="Edit">
										<i class="fa fa-pencil fa-2x"></i>
									</a>
                                    <a href="@Url.Action("Delete", "PlayedGame", new { id = playedGameDetailsViewModel.PlayedGameId })" title="Delete">
                                        <i class="fa fa-trash-o fa-2x"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>