@model UI.Models.PlayedGame.PlayedGamesViewModel

@{
    Layout = null;
}

@using UI.HtmlHelpers
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            Last <span class="badge">@Model.PlayedGameDetailsViewModels.Count</span> Played Games
            @if (Model.ShowSearchLinkInResultsHeader)
            {
                @:(
                @Html.ActionLink("Search Played Games", "Search", "PlayedGame", new { }, new { })
                @:)
                 var fileRequestUrl = "/api/v1/GamingGroups/" + Model.GamingGroupId.Value + "/PlayedGamesExcel";

                <a href="@fileRequestUrl" id="playedGamesExcelDownload">
                    <i class="fa fa-download fa-2x" style="line-height: 36px" data-container="body" data-toggle="popover" data-placement="right"
                       data-content="Export all of your played games to Microsoft Excel (.xlsx)"></i>
                </a>
            }
        </h4>
    </div>
    <div class="panel-body">
        @if (Model.UserCanEdit && Model.GamingGroupId.HasValue)
        {
            <div class="well">
                @Html.ActionLink("Record Played Game", "Create", "PlayedGame", new { }, new { @class = "btn btn-primary", @id = "gtm-recordplayedgamebutton-fromplayedgames" })
            </div>
        }
        <div class="flip-scroll">
            <table class="table table-hover table-striped gameDefinitionsList">
                <thead>
                    <tr>
                        <th class="bgg-link-head"></th>
                        <th class="name-head">
                            Game Name
                        </th>
                        <th>
                            Date Played
                        </th>
                        <th class="result-head">
                            Result
                        </th>
                        <th class="edit-head">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var playedGameDetailsViewModel in Model.PlayedGameDetailsViewModels)
                    {
                        <tr class="game-item">
                            <td class="bgg-link-col">
                                @if (playedGameDetailsViewModel.BoardGameGeekUri != null)
                                {

                                    <a href="@playedGameDetailsViewModel.BoardGameGeekUri" target="_blank;">
                                        @if (!string.IsNullOrEmpty(playedGameDetailsViewModel.ThumbnailImageUrl))
                                        {
                                            <img class="bgg-thumbnail" src="@playedGameDetailsViewModel.ThumbnailImageUrl" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                                        }

                                    </a>

                                }
                            </td>
                            <td class="name-col">
                                <b>
                                    @Html.ActionLink(playedGameDetailsViewModel.GameDefinitionName, "Details", "GameDefinition", new { id = playedGameDetailsViewModel.GameDefinitionId }, new { })
                                </b>
                            </td>
                            <td>
                                @playedGameDetailsViewModel.DatePlayed.ToShortDateString()
                            </td>
                            <td class="result-col">
                                @foreach (var playerGameResultDetails in playedGameDetailsViewModel.PlayerResults)
                                {
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>
                                                @Html.ActionLink(playerGameResultDetails.PlayerName, "Details", "Player", new { id = playerGameResultDetails.PlayerId }, new { })
                                            </b>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.GameResults(playerGameResultDetails, playedGameDetailsViewModel.WinnerType)
                                        </div>
                                    </div>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "PlayedGame", new {id = playedGameDetailsViewModel.PlayedGameId})" title="Details">
                                    <i class="fa fa-book fa-2x"></i>
                                </a>
                                @if (playedGameDetailsViewModel.UserCanEdit)
                                {
                                    <a href="@Url.Action("Edit", "PlayedGame", new {id = playedGameDetailsViewModel.PlayedGameId})" title="Edit">
                                        <i class="fa fa-pencil fa-2x"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "PlayedGame", new {id = playedGameDetailsViewModel.PlayedGameId})" title="Delete">
                                        <i class="fa fa-trash-o fa-2x"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>