@model BusinessLogic.Models.PlayedGame

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PlayedGame</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.GameDefinitionId, "GameDefinitionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GameDefinitionId", String.Empty)
                @Html.ValidationMessageFor(model => model.GameDefinitionId)
            </div>
        </div>

        <div class="form-group" id="playerDiv">
            @Html.DropDownList("Players", "Add A Player")
            <ul id="rankedPlayers" class="sortable"></ul>
            <span id="playerFormData"></span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval");
    <!--//TODO not sure why i had to do this-->
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js");
    @Scripts.Render("~/bundles/custom");
}
