@using Microsoft.AspNet.SignalR.Json
@using Newtonsoft.Json;
@using UI.Models.GameDefinitionModels
@model UI.Models.PlayedGame.CreatePlayedGameViewModel
@{
    ViewBag.Title = "Record a Game";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2 class="page-header">@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}


<div id="record-played-game" data-edit-mode="@(Model.EditMode?"1":"0")" data-model="@JsonConvert.SerializeObject(Model)">
    <div class="row">
        <div class="col-sm-3">
            <ul class="steps">
                <li class="arrow_box" v-bind:class="{'current': currentStep == 1,'completed': stepAlreadyCompleted(1), 'disabled': currentStep == 5}" 
                    v-on:click="backToSelectDate(); recalculateSelectedPlayers();" title="Set the date the game was played">
                    <span class="number">1</span>
                    <span class="desc" v-show="!stepAlreadyCompleted(1)">
                        Set date
                    </span>
                    <div v-show="stepAlreadyCompleted(1)" style="display: none" v-bind:title="viewModel.Date | convertToLocalDate">
                        <div class="value-desc">Date:</div>
                        <div class="value">{{ viewModel.Date | convertToLocalDate }}</div>
                    </div>
                </li>
                <li class="arrow_box" v-bind:class="{'current': currentStep == 2,'disabled' : !stepAlreadyCompleted(2) || currentStep == 5, 'completed': stepAlreadyCompleted(2)}" 
                    v-on:click="backToSelectGame(); recalculateSelectedPlayers();" title="Select the game the was played">
                    <span class="number">2</span>
                    <span class="desc" v-show="!stepAlreadyCompleted(2)">
                        Select game
                    </span>
                    <div v-show="stepAlreadyCompleted(2)" style="display: none" v-bind:title="viewModel.Game.Name">
                        <div class="value-desc">Game:</div>
                        <div class="value">{{ viewModel.Game.Name }}</div>
                    </div>
                </li>
                <li class="arrow_box" v-bind:class="{'current': currentStep == 3,'disabled' : !stepAlreadyCompleted(3) || currentStep == 5, 'completed': stepAlreadyCompleted(3)}" 
                    v-on:click="backToSelectPlayers" title="Select the Players who participated in the game">
                    <span class="number">3</span>
                    <span class="desc" v-show="!stepAlreadyCompleted(3)">
                        Select players
                    </span>
                    <div v-show="stepAlreadyCompleted(3)" style="display: none" v-bind:title="numberOfPlayersLabel">
                        <div class="value-desc"># of Players:</div>
                        <div class="value">{{ numberOfPlayersLabel }}</div>
                    </div>
                </li>
                <li class="arrow_box" v-bind:class="{'current': currentStep == 4,'disabled' : !stepAlreadyCompleted(4) || currentStep == 5, 'completed': stepAlreadyCompleted(4)}" 
                    v-on:click="backToSetResult(); ; recalculateSelectedPlayers();" title="Set the results of the game">
                    <span class="number">4</span>
                    <span class="desc" v-show="!stepAlreadyCompleted(4)">
                        Set result
                    </span>
                    <div v-show="stepAlreadyCompleted(4)" style="display: none">
                        <div class="value-desc">Result:</div>
                        <div class="value">{{ viewModel.WinnerType | winnertype }}</div>
                    </div>
                </li>
                <li class="arrow_box" v-bind:class="{'current': currentStep == 5,'disabled' : true}" title="View an overview of the Played Game">
                    <span class="number">5</span>
                    <span class="desc">
                        Summary
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 form" v-bind:class="{'serverRequestInProgress':serverRequestInProgress}">
            <div class="well">
                <div class="alert alert-danger" style="display: none" v-show="alertVisible">
                    <button type="button" class="close" aria-label="Close" v-on:click="hideAlert"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ alertText }}</strong>
                </div>
                <div v-show="currentStep == 1">
                    <h3 class="title">Set played game date:</h3>
                    <div class="content">
                        <div class="form-group">
                            <input type="date" class="form-control form-control-lg date-picker" v-model="viewModel.Date">
                        </div>

                        <button class="btn btn-default" id="btn-setDateYesterday" v-on:click="setDateYesterday" title="Set the date to yesterday">Yesterday</button>
                        <button class="btn btn-default" id="btn-setDateToday" v-on:click="setDateToday" title="Set the date to today">Today</button>
                        <button class="btn btn-primary" id="btn-setDateCustom" v-on:click="gotoSelectGame" title="Continue with the entered date">Continue</button>
                    </div>

                </div>
                <div v-show="currentStep == 2" style="display: none">
                    <h3 class="title">Select game </h3>
                    <div class="content">
                        @if (Model.RecentPlayedGames.Any() || Model.MostPlayedGames.Any())
                        {
                            <div class="form-group">
                                <label>Search your game list:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-search" v-show="!searchingGameDefinition"></span>
                                        <span class="fa fa-spinner fa-spin" v-show="searchingGameDefinition"></span>
                                    </span>
                                    <input type="text" class="form-control form-control-lg typeahead" id="search-game-definition" />
                                </div>
                            </div>

                            @SelectGame("Recent played games", Model.RecentPlayedGames, "recentgame-click")
                            @SelectGame("Most played games", Model.MostPlayedGames, "mostplayed-click")
                        }
                        <h4 class="title">Create new game</h4>
                        <div class="form-group">
                            <label>Type the new game name to create it:</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-plus" v-show="!searchingBGG"></span>
                                    <span class="fa fa-spinner fa-spin" v-show="searchingBGG"></span>
                                </span>

                                <input type="text" class="form-control form-control-lg typeahead" id="search-bgg" />
                            </div>
                        </div>
                        <button class="btn btn-default" v-on:click="backToSelectDate" title="Go back to select a different date">Back</button>
                    </div>
                </div>
                <div v-show="currentStep == 3" style="display: none">
                    <h3 class="title">Select players</h3>
                    <div class="content selectplayers">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <h4 class="title">Recent Players:</h4>
                                <ul class="list-group recent-players">
                                    <li class="list-group-item checkbox" v-for="player in viewModel.RecentPlayers" v-bind:class="{'selected':player.Selected}" title="Toggle player">
                                        <label>
                                            <input type="checkbox" v-model="player.Selected"> {{ player.PlayerName }}
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <h4 class="title">Other Players:</h4>
                                <ul class="list-group other-players">
                                    <li class="list-group-item checkbox" v-for="player in viewModel.OtherPlayers" v-bind:class="{'selected':player.Selected}" title="Toggle player">
                                        <label>
                                            <input type="checkbox" v-model="player.Selected"> {{ player.PlayerName }}
                                        </label>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <h4 class="title">Create new:</h4>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-control-lg" placeholder="new player name" v-model="newPlayerName" v-on:keyup.enter="createNewPlayer()" />
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-default" v-on:click="createNewPlayer()" title="Add this Player to your Gaming Group and include them in this game result">Create player</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default" v-on:click="backToSelectGame" title="Go back to pick a new game">Back</button>
                                <button class="btn btn-primary" v-on:click="gotoSetGameResult" title="Continue to set the game result">Continue</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div v-show="currentStep == 4" style="display: none">
                    <h3 class="title">Set game result</h3>
                    <div class="content">
                        <h4 class="title">Select game type:</h4>
                        <div class="form-group">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" v-bind:class="{ 'active': viewModel.GameType == 1 }" v-on:click="setGameType(1)" title="Rank players in order of their ranking position">
                                    <a href="#ranked" role="tab" data-toggle="tab" class="hidden-xs">Ranked game</a>
                                    <a href="#ranked" role="tab" data-toggle="tab" class="hidden-sm hidden-md hidden-lg">Ranked</a>
                                </li>
                                <li role="presentation"  v-bind:class="{ 'active': viewModel.GameType == 2 }"  v-on:click="setGameType(2)" title="Rank players based on their score">
                                    <a href="#scored" role="tab" data-toggle="tab" class="hidden-xs">Scored game</a>
                                    <a href="#scored" role="tab" data-toggle="tab" class="hidden-sm hidden-md hidden-lg">Scored</a>
                                </li>
                                <li role="presentation"  v-bind:class="{ 'active': viewModel.GameType == 3 }"  v-on:click="setGameType(3)" title="Give everyone a team win or team loss">
                                    <a href="#cooperative" role="tab" data-toggle="tab" class="hidden-xs">Cooperative game</a>
                                    <a href="#cooperative" role="tab" data-toggle="tab" class="hidden-sm hidden-md hidden-lg">Cooperative</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" v-bind:class="{ 'active': viewModel.GameType == 1 }" id="ranked">
                                    <ul class="list-group" id="ranked-game">
                                        <li class="list-group-item result-item" v-for="(player, index) in orderedPlayers" :key="player.Id" :data-index="player.Id" style="padding-bottom:25px;margin-bottom:5px;align-self:center">
                                            <b>{{ player.Rank }}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                            {{ player.Name }}
                                            <div class="result-float-right">
                                                <button class="btn btn-default" id="btn-reducerank" v-on:click="changeRank(player,true)" tabindex="-1" :disabled="player.Rank === 1" title="Improve rank"><span class="fa fa-arrow-up"></span></button>
                                                <button class="btn btn-default" id="btn-increaserank" v-on:click="changeRank(player,false)" tabindex="-1" :disabled="isLastRank(player)" title="Decrease rank"><span class="fa fa-arrow-down"></span></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" v-bind:class="{ 'active': viewModel.GameType == 2 }" id="scored">
                                        <ul class="list-group" id="scored-game">
                                            <li class="list-group-item result-item" v-for="(player, index) in viewModel.Players" :key="player.PlayerId" v-bind:data-index="index">
                                                <strong>{{ player.RankScored | scoredposition }}</strong> -
                                                {{ player.Name }}
                                                <div class="result-float-right">
                                                    <input type="number" class="form-control input-sm score" v-model.number="player.PointsScored" number v-on:blur="recalculateRankScored" @@click="focus" debounce="500"/> points
                                                </div>
                                                <div class="fl-clear"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" v-bind:class="{ 'active': viewModel.GameType == 3 }" id="cooperative">
                                        <button class="btn btn-success btn-recordgame btn-everyone-won" id="btnEveryoneWonButton" title="Give everyone a team win" v-on:click="setGameResult(2)">
                                            <i class="fa fa-smile-o"></i> Everyone Won
                                        </button>

                                        <button class="btn btn-danger btn-recordgame btn-not-first" id="btnEveryoneLostButton" title="Give everyone a team loss" v-on:click="setGameResult(3)">
                                            <i class="fa fa-frown-o"></i> Everyone Lost
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="title">Game notes (optional)</h4>
                                <textarea v-model="viewModel.GameNotes" class="form-control" rows="4"></textarea>
                            </div>
                            <button class="btn btn-default" v-on:click="backToSelectPlayers" title="Go back to change the Players">Back</button>
                            <button class="btn btn-primary" v-on:click="setGameResult(1)" title="Save this game now">Save played game</button>
                        </div>
                    </div>
                    <div v-show="currentStep==5" style="display: none">
                        <div class="content">
                            <h2 class="title">Played game recorded successfully</h2>
                            <div class="well">
                                <h4 style="margin-bottom: 20px"><strong>{{ viewModel.Players.length }}</strong> players played <strong>{{ viewModel.Game.Name }}</strong> on <strong>{{ viewModel.Date | convertToLocalDate }}</strong></h4>

                                <h4 class="title">What do you want to do next?</h4>
                                <div class="action-buttons">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a id="btn-gotogaminggroup" href="@Url.Action(MVC.GamingGroup.Index())" class="btn btn-primary" title="View Gaming Group details"><span class="fa fa-arrow-left fa-lg"></span> View my Gaming Group</a>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="btn-gotorecentlycreatedplayedgame" class="btn btn-primary" v-on:click="gotoRecentlyPlayedGame" title="View Played Game details"><span class="fa fa-share fa-lg"></span>View this Played Game</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button id="btn-gotocreateother" class="btn btn-default" v-on:click="reload" title="Record a new Played Game"><span class="fa fa-plus-circle fa-lg"></span> Record another Played Game</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="btn-tweetrecentplayedgame" class="btn btn-twitter" v-on:click="postTweet" title="Post a link to this Played Game on Twitter"><span class="fa fa-twitter fa-lg"></span> Post on Twitter!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading" style="display: none" v-show="serverRequestInProgress">
            <span class="fa fa-spinner fa-spin fa-3x fa-fw"></span>
        </div>
    </div>

    @section Scripts{
        @Scripts.Render("~/bundles/moment")
        <script type="text/javascript">
            //Creation
            $(document).ready(function () {
                var createPlayedGame = new window.Views.PlayedGame.CreatePlayedGame();
                createPlayedGame.init();
            });
        </script>
    }

    @helper SelectGame(string title, IList<GameDefinitionDisplayInfoViewModel> games, string gtaClass)
    {
        <h4 class="title">@title</h4>
    foreach (var game in games)
    {
            <span class="game-image" v-on:click="selectGame(@game.Id,'@game.Name.Replace("'","\"")' )" title="Select @game.Name as the game that was played">
                @if (!string.IsNullOrEmpty(game.ThumbnailImageUrl))
                {
                    <img src="@game.ThumbnailImageUrl" class="@gtaClass" alt="@game.Name" />
                }
                else
                {
                    <span class="name">@game.Name</span>
                }
            </span>
    }
    }
