@model UI.Models.PlayedGame.PlayedGameDetailsViewModel
@using BusinessLogic.Models.PlayedGames
@using UI.HtmlHelpers
@{
	string title = @Model.GameDefinitionName + " - " + Model.DatePlayed.ToShortDateString();
	ViewBag.Title = title + " - " + Model.GamingGroupName;
	Layout = MVC.Shared.Views._BaseLayout;
}

<h2 class="page-header">
	@title
	@if (Model.WinnerType == WinnerTypes.TeamLoss)
	{
		<span class="gameResult-teamLoss"> - TEAM LOSS</span>
	}
	else if (Model.WinnerType == WinnerTypes.TeamWin)
	{
		<span class="gameResult-teamWin"> - TEAM WIN</span>
	}
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this game I played on &#64;nemestats :" data-size="large" data-related="nemestats" data-count="none" data-hashtags="boardgames" data-dnt="true" title="Tweet a link to this game">Tweet</a>
	<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
</h2>

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Game Info</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">
					<b>Game Played</b>
				</div>
			    <div class="col-sm-9">
                    @if (Model.BoardGameGeekUri != null)
                    {

                        if (!string.IsNullOrEmpty(Model.ThumbnailImageUrl))
                        {
                            <a href="@Url.Action(MVC.GameDefinition.ActionNames.Details,MVC.GameDefinition.Name,new {id=Model.GameDefinitionId})">
                                <img class="bgg-thumbnail" src="@Model.ThumbnailImageUrl" alt="@Model.GameDefinitionName" title="@Model.GameDefinitionName" />
                            </a>
                        }
                        else
                        {
                            <a href="@Model.BoardGameGeekUri.AbsoluteUri" target="_blank;">
                                <img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                            </a>
                        }
                    }
                    else
                    {

                        @Html.ActionLink(Model.GameDefinitionName, "Details", "GameDefinition", new { id = Model.GameDefinitionId }, new { })

                    }
			    </div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<b>Date Played</b>
				</div>
				<div class="col-sm-9">
					@Model.DatePlayed.ToShortDateString()
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<b>Gaming Group</b>
				</div>
				<div class="col-sm-9">
					@Html.ActionLink(@Model.GamingGroupName, "Details", "GamingGroup", new { id = @Model.GamingGroupId }, new { })
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<b>Notes</b>
				</div>
				<div class="col-sm-9">
					@Html.Raw(Model.Notes)
				</div>
			</div>
			@if (Model.UserCanEdit)
			{
				<br />
				<div class="row">
					<div class="col-sm-9 col-sm-offset-3">
						@Html.ActionLink("Delete", "Delete", new { id = Model.PlayedGameId }, new { @class = "btn btn-sm btn-primary" })
					</div>
				</div>
			}
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Results</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				@foreach (var gameResultViewModel in Model.PlayerResults)
				{

					<div class="col-sm-3">
						@Html.ActionLink(gameResultViewModel.PlayerName, "Details", "Player", new { id = gameResultViewModel.PlayerId }, new { })
					</div>
					<div class="col-sm-9">
						@Html.GameResults(gameResultViewModel, Model.WinnerType)
					</div>
				}
				@if (Model.UserCanEdit)
				{
					<div class="col-sm-9 col-sm-offset-3">
						@Html.ActionLink("Edit", "Edit", new { id = Model.PlayedGameId }, new { @class = "btn btn-sm btn-primary" })
					</div>
				}
			</div>
		</div>
	</div>
</div>