@model BusinessLogic.Models.PlayedGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recent Games</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameDefinition.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDefinition.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlayed)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")

</p>
<div>
    @foreach (var result in Model.PlayerGameResults)
    {
        @MyHelpers.ShowGameResult(result, false);
        <br />
    }
</div>

