@using UI.HtmlHelpers
@model UI.Models.PlayedGame.PlayedGameDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recent Games</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink(Model.GameDefinitionName, "Details", "GameDefinition", new { id = Model.GameDefinitionId }, new { })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDefinitionName)
        </dd>
        <dt>
            Date Played
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlayed)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayedGameId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.PlayedGameId }) |
    @Html.ActionLink("Back to List", "Index")

</p>
<div>
    @foreach (var result in Model.PlayerResults)
    {
        @Html.GameResults(result);
        <br />
    }
</div>

