@using UI.HtmlHelpers
@model UI.Models.PlayedGame.PlayedGameDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recent Games</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Game Played
        </dt>

        <dd>
            @Html.ActionLink(Model.GameDefinitionName, "Details", "GameDefinition", new { id = Model.GameDefinitionId }, new { })
        </dd>
        <dt>
            Date Played
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlayed)
        </dd>
    </dl>
</div>
<p>
    @if(Model.UserCanEdit)
    {
      @Html.ActionLink("Delete", "Delete", new { id = Model.PlayedGameId }) @: |  
    }
    
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @foreach (var result in Model.PlayerResults)
    {
        @Html.ActionLink(@result.PlayerName, "Details", "Player", new { id = result.PlayerId }, new { })
        <text>- </text>
        @Html.GameResults(result);
        <br />
    }
</div>

