@model UI.Models.PlayedGame.PlayedGameDetailsViewModel
@using UI.HtmlHelpers
@{
    ViewBag.Title = "Played Game Details";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>
    Played Game Details <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this game I just played on &#64;nemestats :" data-size="large" data-related="nemestats" data-count="none" data-hashtags="boardgames" data-dnt="true" title="Tweet a link to this game">Tweet</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Game Played
        </dt>

        <dd>
            @Html.ActionLink(Model.GameDefinitionName, "Details", "GameDefinition", new { id = Model.GameDefinitionId }, new { })
        </dd>
        <dt>
            Date Played
        </dt>

        <dd>
            @Model.DatePlayed.ToShortDateString()
        </dd>

        <dt>
            Gaming Group
        </dt>
        <dd>
            @Html.ActionLink(@Model.GamingGroupName, "Details", "GamingGroup", new { id = @Model.GamingGroupId }, new { })
        </dd>
        
        <dt>
            Notes
        </dt>
        <dd>
            @Html.Raw(Model.Notes)
        </dd>
    </dl>
</div>
<p>
    @if(Model.UserCanEdit)
    {
      @Html.ActionLink("Delete", "Delete", new { id = Model.PlayedGameId }) 
    }
</p>
<div>
    @foreach (var result in Model.PlayerResults)
    {
        @Html.ActionLink(@result.PlayerName, "Details", "Player", new { id = result.PlayerId }, new { })
        <text>- </text>
        @Html.GameResults(result);
        <br />
    }
</div>

