@model BusinessLogic.Models.PlayedGame

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    //TODO THIS WHOLE PAGE SHOULD PROBABLY GO AWAY, THE CREATE SCREEN IS SO DIFFERENT FROM THE EDIT SCREEN
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PlayedGame</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.GameDefinitionId, "GameDefinitionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GameDefinitionId", String.Empty)
                @Html.ValidationMessageFor(model => model.GameDefinitionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfPlayers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfPlayers)
                @Html.ValidationMessageFor(model => model.NumberOfPlayers)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
