@using System.Activities.Expressions
@model UI.Models.PlayedGame.PlayedGameEditViewModel
@{
	ViewBag.Title = "Record a game";
	Layout = MVC.Shared.Views._BaseLayout;
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Game played</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-5">
				@using (Html.BeginForm("Edit", MVC.PlayedGame.Name, new { previousGameId = @Model.PreviousGameId }, FormMethod.Post))
				{
					@Html.Partial(MVC.PlayedGame.Views._PlayedGameFormPartial, Model)
				}
			</div>
			<div id="addPlayer" class="col-md-7 hidden" style="margin-top: 90px">
				<a href="#addPlayer" id="addPlayerAnchor"></a>
				@Html.Action("SavePlayer", "Player")
			</div>
		</div>
	</div>
</div>

<div id="createdPlayedGameBack">
	@Html.ActionLink("Back To List", "Index", "GamingGroup", null, null, UI.Controllers.GamingGroupController.SECTION_ANCHOR_RECENT_GAMES, null, null)
</div>
@section Scripts{
	<script type="text/javascript">
	//Creation
	$(document).ready(function () {
		var createPlayedGame = new window.Views.PlayedGame.CreatePlayedGame();
		var googleAnalyticsObject = new window.Views.Shared.GoogleAnalytics();
		var rankedPlayers = @Html.Raw(Json.Encode(
				(Model.PlayerRanks).Select(player => new
				{
            		playerIndex = @Model.PlayerRanks.IndexOf(player),
            		playerId = player.PlayerId,
            		playerName = @Model.ExistingRankedPlayerNames.Where(key => key.Value == player.PlayerId).SingleOrDefault().Key,
					playerRank = player.GameRank
				})
			)
		);
		createPlayedGame.init(googleAnalyticsObject, rankedPlayers);
		// (playerIndex, playerId, playerName, playerRank)


		createPlayedGame.initializeRankedPlayers(array);
		var createOrUpdatePlayer = new window.Views.Player.CreateOrUpdate();
		createOrUpdatePlayer.init($.proxy(createPlayedGame.onPlayerCreated, createPlayedGame));
	});
</script>

<script id="player-item-template" type="text/x-handlebars-template">
	<li>
		<div class="playerItem">
			<div class="leftItem">
				<span>{{playerName}} - Rank:</span>
				<input type="hidden" name="PlayerRanks[{{playerIndex}}].PlayerId" value="{{playerId}}" />
			</div>
			<div class="rightItem fl-right">
				<input class="playerRank"
					   data-rule-required="true"
					   data-rule-min="1"
					   data-val="true"
					   data-val-number="The field must be a number."
					   data-val-required=""
					   aria-required="true"
					   aria-invalid="false"
					   type="text"
					   name="PlayerRanks[{{playerIndex}}].GameRank"
					   value="{{playerRank}}"
					   style="text-align:center;"
					   onclick="this.focus();this.select()" />

				<button class="removePlayerButton btnRemovePlayer"
						type="button"
						data-playername="{{playerName}}"
						data-playerid="{{playerId}}"
						title="Remove player">
					<i class='fa fa-remove'></i>
				</button>
				<button class="rankButton-down"
						type="button"
						data-playername="{{playerName}}"
						data-playerid="{{playerId}}"
						title="Move rank down">
					<i class="fa fa-chevron-down"></i>
				</button>

				<button class="rankButton-up"
						type="button"
						data-playername="{{playerName}}"
						data-playerid="{{playerId}}"
						title="Move rank up">
					<i class="fa fa-chevron-up"></i>
				</button>
			</div>
			<div class="fl-clear"></div>
		</div>
	</li>
</script>
}