@using UI.HtmlHelpers
@model List<UI.Models.PlayedGame.PlayedGameDetails>

@{
    ViewBag.Title = "Recent Games";
}

<h2>Recent Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Game Name
        </th>
        <th>
           Date Played
        </th>
        <th>Result</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style='font-weight: 300'>
            @Html.ActionLink(item.GameDefinitionName, "Details", "GameDefinition", new { id = item.GameDefinitionId }, new { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePlayed)
        </td>
        <td>
            @foreach (var result in item.PlayerResults)
            {
                @result.PlayerName <text>:</text>
                @Html.GameResults(result);
                <br/>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlayedGameId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlayedGameId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlayedGameId })
        </td>
    </tr>
}

</table>
