@model UI.Models.PlayedGame.SearchViewModel

@{
    ViewBag.Title = "Search Played Games";
    Layout = MVC.Shared.Views._BaseLayout; ;
}
<h2 class="page-header">
    @ViewBag.Title
</h2>
<hr />

<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Search Played Games</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="col-sm-2">
                        <b>Game Played</b>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => Model.Filter.GameDefinitionId, @Model.GameDefinitions)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <b>Date Played - Start</b>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => Model.Filter.DatePlayedStart, new
                   {
                       @class = "date-picker",
                       type = "date"
                   })
                        @Html.ValidationMessageFor(model => model.Filter.DatePlayedStart)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <b>Date Played - End</b>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => Model.Filter.DatePlayedEnd, new
                   {
                       @class = "date-picker",
                       type = "date"
                   })
                        @Html.ValidationMessageFor(model => model.Filter.DatePlayedEnd)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <b>Included Player</b>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("Players", Model.Players, "Add A Player", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Model.PlayedGames != null)
{
    <div class="form-group">
        @Html.Partial("~/Views/PlayedGame/_PlayedGamesPartial.cshtml", Model.PlayedGames)
    </div>
}
@section Scripts{
    <script type="text/javascript">
        //Creation
        $(document).ready(function () {
            var search = new window.Views.PlayedGame.Search();
            search.init();
        });
    </script>
}