@using BusinessLogic.Models.Achievements
@using UI.Models.Achievements
@model PlayerAchievementViewModel
@{
    ViewBag.Title = @Model.Achievement.Name + " unlocked for " + @Model.PlayerName ;
    Layout = MVC.Shared.Views._BaseLayout;
}


<h2 class="page-header">@Model.Achievement.Name unlocked for <a href="@Url.Action(MVC.Player.Details(Model.PlayerId,null))">@Model.PlayerName</a> !</h2>
<div class="panel panel-primary playerachievement">
    <div class="panel-heading">
        <h4>Achievement Description</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <h2>@Model.Achievement.Name</h2>
                <blockquote>@Model.Achievement.Description</blockquote>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="achievement big @Model.AchievementLevel.ToString().ToLower()">
                            <span class="circle">
                                <span class="content">
                                    <span class="@Model.Achievement.IconClass"></span>
                                </span>
                            </span>
                        </span>
                    </li>
                    <li class="list-group-item">Unlocked at: @Model.DateCreated.ToShortDateString()</li>
                    @if (Model.DateCreated < Model.LastUpdatedDate)
                    {
                    <li class="list-group-item">Last update: @Model.LastUpdatedDate.ToShortDateString()</li>
                    }
                </ul>
            </div>
            <div class="col-md-9">
                <ul class="list-group">
                    @foreach (var level in Model.Achievement.LevelThresholds)
                    {
                    @PlayerProgess(level, Model.PlayerProgress)
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
 @if (Model.RelatedGameDefintions.Any())
        {
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Games related with this achievement <span class="badge">@Model.RelatedGameDefintions.Count</span></h4>
    </div>
    <div class="panel-body">
        <div class="gameDefinitionsList flip-scroll" id="playedgameslist">
            <table class="table">
                <caption>
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon"><span class="fa fa-search"></span></div>
                        <input type="text" class="form-control search" placeholder="type game name">
                    </div>
                </caption>
                <thead>
                    <tr>
                        <th class="bgg-link-head">
                            <span class="hidden-md hidden-lg">
                                Image
                            </span>
                        </th>
                        <th class="name-head">
                            <span class="sort" data-sort="name-col">Name <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                        </th>
                </thead>
                <tbody class="list">
                    @foreach (var game in Model.RelatedGameDefintions)
                    {
                    <tr class="game-item">
                        <td class="bgg-link-col">
                            @if (game.HasBoardGameGeekDefinition)
                            {
                            if (!string.IsNullOrEmpty(game.BoardGameGeekGameDefinition.Thumbnail))
                            {
                            <a href="@Url.Action(MVC.GameDefinition.ActionNames.Details, MVC.GameDefinition.Name, new {id = game.Id})">
                                <img class="bgg-thumbnail" src="@game.BoardGameGeekGameDefinition.Thumbnail" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                            </a>
                            }
                            else
                            {
                            <a href="@game.BoardGameGeekGameDefinition.BoardGameGeekUri.AbsoluteUri" target="_blank;">
                                <img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                            </a>
                            }

                            }
                        </td>
                        <td class="name-col" data-name="@game.Name">
                            <b>
                                @Html.ActionLink(game.Name, "Details", "GameDefinition", new {id = game.Id}, new {@class = "name"})
                            </b>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
    }

    @helper PlayerProgess(KeyValuePair<AchievementLevel, int>
    level, int currentPlayerProgress)
    {
    var unlocked = false;
    var width = 0;
    if (currentPlayerProgress > level.Value)
    {
    width = 100;
    unlocked = true;
    }
    else
    {
    width = (currentPlayerProgress*100)/level.Value;
    }


    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-1">
                <b>@level.Key.ToString():</b>
            </div>
            <div class="col-xs-11">
                <div class="progress">
                    <div class="progress-bar @level.Key.ToString().ToLower()" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @width.ToString()%;" data-container="body" data-toggle="popover" data-placement="top" data-content="@currentPlayerProgress of @level.Value needed to unlock">
                        @width.ToString()%
                        @if (unlocked)
                        {
                        <span class="fa fa-check"></span>
                        }
                    </div>
                </div>

            </div>
        </div>
    </li>
    }




    @section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var achievementDetails = new window.Views.Achievement.Details();
            achievementDetails.init();
        });
    </script>
    }
