@model UI.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Board Game Tracking Made Fun";
    ViewBag.Description = "Welcome to NemeStats where tracking board games is fun and easy!";
}

<div class="home-container">
    <div class="home-banner">
        <div class="cta-wrapper container">
            <div class="row">
                <div class="col-md-7 col-xs-12 subtitle">
                    <img src="~/Content/Images/NemeStats-White.png" />
                    <div class="text">Board game tracking made fun!</div>
                </div>
                <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
                    @if (!Request.IsAuthenticated)
                    {
                        <div class="panel panel-default">
                            <div class="panel-body social-login">
                                @using (Html.BeginForm(MVC.Account.ExternalLogin()))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-google btn-lg" id="gtm-google-login-button" name="provider" value="Google" title="Log in using your Google account"><i class="fa fa-google fa-lg"></i>Access with Google</button>
                                }
                            </div>
                            <div class="common-login">
                                <div class="or">or</div>
                                <div class="title">Access with your user</div>
                                @{ Html.RenderAction(MVC.Account.LoginForm()); }
                            </div>
                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            @{ Html.RenderAction(MVC.Player.CurrentPlayerQuickStats());    }
                                        </div>

                                                }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-body-container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="fl-left">
                <h3>@Model.RecentPublicGames.Count() Recent Games @Html.ActionLink(" - View More", MVC.PlayedGame.ShowRecentlyPlayedGames())</h3>
            </div>
            @Html.Partial(MVC.PlayedGame.Views._RecentlyPlayedGamesPartial, Model.RecentPublicGames)
        </div>

        <div class="col-md-6">
            <div class="fl-left">
                <h3>Top @Model.TopGamingGroups.Count() Gaming Groups @Html.ActionLink(" - View More", MVC.GamingGroup.GetTopGamingGroups())</h3>
            </div>
            @Html.Partial(MVC.GamingGroup.Views._TopGamingGroupsPartial, Model.TopGamingGroups)
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="fl-left">
                @if (Model.RecentNemesisChanges.Count() != 0)
                {
                    <h3>@Model.RecentNemesisChanges.Count() Recent Nemesis Changes @Html.ActionLink(" - View More", MVC.Player.ShowRecentNemesisChanges())</h3>
                }
                else
                {
                    <h3>Recent Nemesis Changes</h3>
                }
            </div>
            @Html.Partial(MVC.Player.Views._RecentNemesisChangesPartial, Model.RecentNemesisChanges)
        </div>

        <div class="col-md-6">
            <div class="fl-left">
                <h3>Top @Model.TopPlayers.Count Players @Html.ActionLink(" - View More", MVC.Player.ShowTopPlayers())</h3>
            </div>
            @Html.Partial(MVC.Player.Views._TopPlayersPartial, Model.TopPlayers)
        </div>
    </div>
</div>
<br />
<div class="col-md-12">
    <hr />
    @{ Html.RenderPartial(MVC.Shared.Views.Footer);}
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#recentGamesVote").rank({ votableFeatureId: "RecentGlobalGames" });
            $("#topPlayersVote").rank({ votableFeatureId: "TopGlobalPlayers" });
            $("#nemesisChangeVote").rank({ votableFeatureId: "RecentGlobalNemesisChanges" });
            $("#gamingGroupsVote").rank({ votableFeatureId: "TopGlobalGamingGroups" });
        });
    </script>
}
