@using UI.Controllers
@model UI.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Board Game Tracking Made Fun";
    ViewBag.Description = "Welcome to NemeStats, a completely free website for tracking the results of Board Games. Track Board Game plays, earn Badges and Achievements, and enjoy rich statistics!";
}

<div class="home-container">
    <div class="home-banner">
        <div class="cta-wrapper container">

            <div class="col-md-7 col-sm-12 col-xs-12 subtitle">
                <img src="~/Content/Images/NemeStats-White.png" />
                <div class="text">Board game tracking made fun!</div>
            </div>
            <div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                @if (Model.ShowQuickStats)
                {
                    <div>
                        @{ Html.RenderAction(MVC.Player.CurrentPlayerQuickStats()); }
                    </div>
                }
                else if(Model.ShowLoginPartial)
                {
                    <div class="panel panel-default">
                        <div class="panel-body social-login">
                            @using (Html.BeginForm(MVC.Account.ExternalLogin()))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-google btn-lg" id="gtm-google-login-button" name="provider" value="Google" title="Log in using your Google account"><i class="fa fa-google fa-lg"></i>Continue with Google</button>
                            }
                        </div>
                        <div class="common-login">
                            <div class="or">or</div>
                            @{ Html.RenderAction(MVC.Account.LoginForm()); }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</div>

@Html.Partial(MVC.Home.Views._HomeFeatures)

<div class="home-body-container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Trending Games (Last @HomeController.NUMBER_OF_DAYS_OF_TRENDING_GAMES Days) @Html.ActionLink(" - View More", MVC.GameDefinition.ShowTrendingGames(), new { title = "View more trending games"})
                    <div id="topGlobalGameDefinitionsVote" class="fl-right"></div>
                    <div class="fl-clear"></div>
                </div>
                <div class="panel-body" id="trendingGamesWidget">
                    <div class="loader"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @HomeController.NUMBER_OF_RECENT_PUBLIC_GAMES_TO_SHOW Recent Games @Html.ActionLink(" - View More", MVC.PlayedGame.ShowRecentlyPlayedGames(), new { title = "View more recently played games"})
                    <div id="recentGamesVote" class="fl-right"></div>
                    <div class="fl-clear"></div>
                </div>
                <div class="panel-body" id="recentPlayedGamesWidget">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Top @HomeController.NUMBER_OF_TOP_GAMES_TO_SHOW Games on NemeStats @Html.ActionLink(" - View More", MVC.GameDefinition.TopGames(), new { title = "View more of the top Games"})
                    <div id="topGamesVote" class="fl-right"></div>
                    <div class="fl-clear"></div>
                </div>
                <div class="panel-body" id="topGamesVoteWidget">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Top @HomeController.NUMBER_OF_TOP_GAMING_GROUPS_TO_SHOW Gaming Groups @Html.ActionLink(" - View More", MVC.GamingGroup.GetTopGamingGroups(), new { title = "View more of the top Gaming Groups"})
                    <div id="gamingGroupsVote" class="fl-right"></div>
                    <div class="fl-clear"></div>
                </div>
                <div class="panel-body" id="topGamingGroupsWidget">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial(MVC.Shared.Views.Footer);}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#recentGamesVote").rank({ votableFeatureId: "RecentGlobalGames" });
            $("#topGamesVote").rank({ votableFeatureId: "TopGamesEver" });
            $("#topGlobalGameDefinitionsVote").rank({ votableFeatureId: "RecentGlobalTopGameDefinitions" });
            $("#gamingGroupsVote").rank({ votableFeatureId: "TopGlobalGamingGroups" });

            var homeView = new window.Views.Home.IndexView();
            var options = {
                dynamicWidgetsToLoad: [
                {
                    widgetDivId: "trendingGamesWidget",
                    widgetServiceEndpoint: "/Home/TrendingGames"
                },
                {
                    widgetDivId: "recentPlayedGamesWidget",
                    widgetServiceEndpoint: "/Home/RecentPlayedGames"
                },
                {
                    widgetDivId: "topGamesVoteWidget",
                    widgetServiceEndpoint: "/Home/TopGamesEver"
                },
                {
                    widgetDivId: "topGamingGroupsWidget",
                    widgetServiceEndpoint: "/GamingGroup/GetTopGamingGroupsPartial"
                }
                ]
            };
            homeView.init(options);
        });
    </script>
}