@model UI.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Track Board Game Results";
}

<div class="home-container">
    <div class="home-banner">
        <img src="~/Content/Images/NemeStats.png" style="width: 70%; margin-left:15%; margin-right:15%;" />
    </div>

    <div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="15000" data-pause="hover">
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active" style="min-height: 365px;">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>Keep Track Of Your Nemesis</h2>
                        <p class="lead">
                            NemeStats (as in "Nemesis Statistics") is a free web application for logging games played among a relatively stable group of players. It takes only
                            a moment and will give you statistics on your win percentage, average rank in games, who is your Nemesis and who is your Minion, etc.
                            When you register, a new "Gaming Group" will be created where you and other players in your group can watch your statistics materialize over time.
                            <br/><br/>
                            All information is publicly accessible so feel free to browse around! If you'd like to give it a shot just @Html.ActionLink("Register", "Register", "Account", null, null),
                            set up the game and players you want to record, and start tracking! 
                        </p>
                        <p>
                            NemeStats is open source and accepting feature requests
                            via <a href='https://github.com/jakejgordon/NemeStats' target="_blank">GitHub</a>. Check out the features that are being worked on or in the backlog
                            <a href='https://waffle.io/jakejgordon/NemeStats' target="_blank">here</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="item" style="min-height: 365px;">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="col-md-4">
                            <span class="home-page-icon">
                                <i class="fa fa-gamepad"></i>    
                            </span>
                            <h2>Setup Games</h2>
                            <p>
                                Manage the list of Games your Gaming Group plays here. A Game Definition must be created in order to log a played game.
                            </p>
                            <p>@Html.ActionLink("Manage Games", "Index", "GamingGroup", null, null, UI.Controllers.GamingGroupController.SECTION_ANCHOR_GAMEDEFINITIONS, null, null)</p>
                        </div>
                        <div class="col-md-4">
                            <span class="home-page-icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <h2>Setup Players</h2>
                            <p>
                                Manage the list of Players in your Gaming Group. A Player must be created in order to log a played game for that Player.
                            </p>
                            <p>@Html.ActionLink("Manage Players", "Index", "GamingGroup", null, null, UI.Controllers.GamingGroupController.SECTION_ANCHOR_PLAYERS, null, null)</p>
                        </div>
                        <div class="col-md-4">
                            <span class="home-page-icon">
                                <i class="fa fa-line-chart"></i>
                            </span>
                            <h2>Track Game Results</h2>

                            <p>Log the results of your games here.</p>

                            <p>@Html.ActionLink("Game Results", "Create", "PlayedGame")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-body-container">
        <div class="col-md-6">
            <h3>Top 5 Players</h3>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Games</th>
                        <th>Win %</th>
                        <th>Points</th>
                    </tr>
                    @foreach (UI.Models.Players.TopPlayerViewModel playerSummaryViewModel in @Model.TopPlayers)
                    {
                        <tr>
                            <td>@Html.ActionLink(playerSummaryViewModel.PlayerName, "Details", "Player", new { id = playerSummaryViewModel.PlayerId }, new { })</td>
                            <td>@playerSummaryViewModel.TotalNumberOfGamesPlayed</td>
                            <td>@playerSummaryViewModel.WinPercentage</td>
                            <td>@playerSummaryViewModel.TotalPoints</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Recent Games</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Game</th>
                        <th>Winner</th>
                        <th>Date</th>
                    </tr>
                    @foreach (BusinessLogic.Models.Games.PublicGameSummary publicGame in @Model.RecentPublicGames)
                    {
                        <tr>
                            <td>@Html.ActionLink(publicGame.GameDefinitionName, "Details", "GameDefinition", new { id = publicGame.GameDefinitionId }, new { })</td>
                            <td>@Html.ActionLink(publicGame.WinningPlayer.Name, "Details", "Player", new { id = publicGame.WinningPlayer.Id }, new { })</td>
                            <td>@Html.ActionLink(publicGame.DatePlayed.ToShortDateString(), "Details", "PlayedGame", new { id = publicGame.PlayedGameId }, new { })</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        

        <div class="col-md-6">
            <h3>Recent Nemesis Changes</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Player</th>
                        <th>New Nemesis</th>
                        <th>Loss %</th>
                    </tr>
                    @foreach (UI.Models.Nemeses.NemesisChangeViewModel nemesisChange in @Model.RecentNemesisChanges)
                    {
                        <tr>
                            <td>@Html.ActionLink(nemesisChange.PlayerName, "Details", "Player", new { id = nemesisChange.PlayerId }, new { })</td>
                            <td>@Html.ActionLink(nemesisChange.NemesisPlayerName, "Details", "Player", new { id = nemesisChange.NemesisPlayerId }, new { })</td>
                            <td>@nemesisChange.LossPercentageVersusNemesis</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        
        <div class="col-md-6">
            <h3>Top 5 Gaming Groups</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Gaming Group</th>
                        <th>Number of Players</th>
                        <th>Number of Games Played</th>
                    </tr>
                    <tr><td></td><td>Coming Soon!</td><td></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>