@model UI.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/Content/Images/NemeStats.png" style="width:100%" />
    <div class="col-md-6">
        <h2>Top 5 Players</h2>
        <table>
            <tr>
                <th width="35%">Name</th>
                <th width="25%">Games Played</th>
                <th width="20%">Win %</th>
                <th width="20%">Total Points</th>
            </tr>
            @foreach (UI.Models.Players.TopPlayerViewModel playerSummaryViewModel in @Model.TopPlayers)
            {
            <tr>
                <td>@playerSummaryViewModel.PlayerName</td>
                <td>@playerSummaryViewModel.TotalNumberOfGamesPlayed</td>
                <td>@playerSummaryViewModel.WinPercentage</td>
                <td>@playerSummaryViewModel.TotalPoints</td>
            </tr>
            }
        </table>
    </div>
    <h2>Keep Track Of Your Nemesis</h2>
    <p class="lead">NemeStats is a free web application for recording games played among a relatively stable group of players. 
    The output will be an interesting set of metrics around game rank over
    the dimensions of player, number of players, game played, etc. Just register a new account, set up your games and players, and start recording!
    </p>
    <p>
    NemeStats is open source and accepting pull requests and feature requests 
    via <a href='https://github.com/jakejgordon/NemeStats' target="_blank">GitHub</a>.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Define Games</h2>
        <p>
            Manage the list of Games here. A Game Definition must be created in order to create a record of a Game played.
        </p>
        <p>@Html.ActionLink("Manage Games", "Index", "GameDefinition")</p>
    </div>
    <div class="col-md-4">
        <h2>Setup Players</h2>
        <p>
            Manage the list of players here. A Player must be created in order to create a record of a game played for that Player.
        </p>
        <p>@Html.ActionLink("Manage Players", "Index", "Player")</p>
    </div>
    <div class="col-md-4">
        <h2>Save Game Results</h2>
        <p>
            Record the results of your games here.
        </p>
        <p>@Html.ActionLink("Game Results", "Index", "PlayedGame")</p>
    </div>
</div>