@using UI.Models.User
@model UI.Models.GameDefinitionModels.CreateGameDefinitionViewModel

@{
    Layout = null;
}

<div class="createGameDefinitionPartial" id="createGameDefinitionPartial" data-gaminggroupid="@Model.GamingGroupId">
    <div class="row">
        <div class="col-md-6">
            <form id="js-createGameForm">
                <div class="form-inline">
                    @Html.HiddenFor(m => m.BoardGameGeekGameDefinitionId)
                    <div class="form-group">
                        Add Game
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Name, new {@class = "form-control", id = "gameNameInput", placeholder = "Game name"})
                        </div>
                        <div class="col-md-offset-3">
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-pull-2">
                            <button class="btn btn-primary" id="createGameDefinitionFromPartial"><span class="fa fa-plus-circle"></span> Create Game</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 importbgg">

            @if (string.IsNullOrEmpty(Model.BGGUserName))
            {

                <div class="pulleable">
                    <div class="pulleable">
                        <button class="btn btn-default" data-toggle="collapse" href="#setBGGUserName">Configure BGG user to import your games<img src="~/Content/Images/bgg_small.png"/></button>
                    </div>
                    <div class="collapse pulleable voffset4" id="setBGGUserName">@Html.Partial(MVC.Account.Views.BoardGameGeekIntegration, new BoardGameGeekIntegrationModel())</div>
                </div>
            }
            else
            {
                <form v-on:submit="importbgggames" method="POST" action="@Url.Action(MVC.GameDefinition.ImportFromBGG())">
                    <button class="btn btn-default btn-sm pulleable" id="gtm-import-games-from-bgg" data-user="@Model.BGGUserName"><span class="fa fa-download"></span> Import from BGG <img src="~/Content/Images/bgg_small.png" /></button>
                </form>              
                
                    
                

            }


        </div>

    </div>
    @if (!string.IsNullOrEmpty(Model.BGGUserName))
    {
        <div class="voffset4 row" style="display: none" v-show="importProgressBarVisible">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <h5><span class="fa fa-spinner fa-spin"></span> Importing your BoardGameGeek games... this may take a while</h5>
                    <h5 v-show="totalGamesToImport > 0"><b>{{currentGamesImported}}</b> of <b>{{totalGamesToImport}}</b> games imported. Importing now: <i>{{currentGameName}}</i></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{progressWidth}}"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>