@model IEnumerable<UI.Models.GameDefinitionModels.TrendingGameViewModel>
<div id="topGlobalGameDefinitionsVote" class="fl-right" style="margin-top: 21px; margin-bottom: 10.5px;"></div>
<div class="fl-clear"></div>
<div class="flip-scroll">
    <table class="table table-hover table-striped gameDefinitionsList" id="trendingGamesTable">
        <thead>
            <tr>
                <th class="bgg-link-head"></th>
                <th>Game Name</th>
                <th>Gaming Groups</th>
                <th>Games Played</th>
            </tr>
        </thead>
        @{ var position = 1; }
        @foreach (UI.Models.GameDefinitionModels.TrendingGameViewModel trendingGame in Model)
        {
            <tr class="game-item" data-position="@position">
                @{position++;}
                <td class="bgg-link-col">
                    <a href="@Url.Action(MVC.UniversalGame.Details().AddRouteValue("id", trendingGame.BoardGameGeekGameDefinitionId))" target="_blank;">
                        @if (!string.IsNullOrEmpty(trendingGame.ThumbnailImageUrl))
                        {
                            <img class="bgg-thumbnail" src="@trendingGame.ThumbnailImageUrl" alt="View universal stats" title="View universal stats"/>
                        }
                        else
                        {
                            <img src="~/Content/Images/bgg_small.png" alt="View universal stats" title="View universal stats"/>
                        }

                    </a>
                </td>
                <td><a href="@Url.Action(MVC.UniversalGame.Details().AddRouteValue("id", trendingGame.BoardGameGeekGameDefinitionId))" target="_blank;">@trendingGame.Name</a></td>
                <td>@trendingGame.GamingGroupsPlayingThisGame</td>
                <td>@trendingGame.GamesPlayed</td>
            </tr>
         }
    </table>
</div>