@model IEnumerable<UI.Models.GameDefinitionModels.TrendingGameViewModel>
<div id="topGlobalGameDefinitionsVote" class="fl-right" style="margin-top: 21px; margin-bottom: 10.5px;"></div>
<div class="fl-clear"></div>
<div class="flip-scroll">
    <table class="table table-hover table-striped gameDefinitionsList" id="trendingGamesTable">
        <thead>
            <tr>
                <th class="bgg-link-head"></th>
                <th>Game Name</th>
                <th>Games Played</th>
                <th>Gaming Groups</th>
            </tr>
        </thead>
        @{ var position = 1; }
        @foreach (UI.Models.GameDefinitionModels.TrendingGameViewModel trendingGame in @Model)
        {
            <tr class="game-item" data-position="@position">
                @{position++;}
                <td class="bgg-link-col">
                    @if (trendingGame.BoardGameGeekUri != null)
                    {
                        <a href="@trendingGame.BoardGameGeekUri.AbsoluteUri" target="_blank;">
                            @if (!string.IsNullOrEmpty(trendingGame.ThumbnailImageUrl))
                            {
                                <img class="bgg-thumbnail" src="@trendingGame.ThumbnailImageUrl" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com"/>
                            }
                            else
                            {
                                <img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com"/>
                            }

                        </a>
                    }
                </td>
                <td>@trendingGame.Name</td>
                <td>@trendingGame.GamingGroupsPlayingThisGame</td>
                <td>@trendingGame.GamesPlayed</td>
            </tr>
         }
    </table>
</div>