@model UI.Models.GameDefinitionModels.CreateGameDefinitionViewModel

@{
    ViewBag.Title = "Create a game";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2 class="page-header">@ViewBag.Title</h2>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Create a new game</h4>
    </div>
    <div class="panel-body createGameDefinitionForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
				@Html.HiddenFor(model => model.BoardGameGeekGameDefinitionId, new { @id = "boardGameId" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id="gameNameInput" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Description)
						@Html.HiddenFor(model => model.ReturnUrl)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" id="btnCreateGame" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

        <div>
            @Html.ActionLink("Back To List", "Index", "GamingGroup", null, null, UI.Controllers.GamingGroupController.SECTION_ANCHOR_GAMEDEFINITIONS, null, null)
        </div>
