@using UI.HtmlHelpers
@model UI.Models.GameDefinitionModels.GameDefinitionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameDefinition</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @foreach (var playedGameViewModel in @Model.PlayedGames)
    {
        <div>@playedGameViewModel.DatePlayed.ToShortDateString()</div>
        foreach(var gameResultViewModel in playedGameViewModel.PlayerResults)
        { 
        <div class="row">
            <div class="col-sm-2">
                @Html.ActionLink(gameResultViewModel.PlayerName, "Details", "Player", new { id = gameResultViewModel.PlayerId }, new { })
            </div>
            <div class="col-sm-5">
                @Html.GameResults(gameResultViewModel)
            </div>
        </div>
        }
        <br/>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
