@using Microsoft.Ajax.Utilities
@using UI.HtmlHelpers
@model UI.Models.GameDefinitionModels.GameDefinitionDetailsViewModel

@{
    ViewBag.Title = @Model.Name + " - " + Model.GamingGroupName;
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Game Info</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <strong>
                        Name
                    </strong>
                </div>
                <div class="col-sm-3">
                @Html.DisplayFor(model => model.Name)
                @if (Model.BoardGameGeekUri != null)
                {
                    <a href="@Model.BoardGameGeekUri.AbsoluteUri"><img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" /></a>
                }
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                            @:Description
                        }
                    </strong>
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        Gaming Group
                    </strong>
                </div>
                <div class="col-sm-3">
                    @Html.ActionLink(@Model.GamingGroupName, "Details", "GamingGroup", new { id = @Model.GamingGroupId }, new { })
                </div>
            </div>
            @if (Model.UserCanEdit)
            {
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2">
                        @Html.ActionLink("UpdateGamingGroupName", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (Model.ChampionName != null || Model.PreviousChampionName != null)
{
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Champion <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right"
   data-content="The Champion is the Player within the Gaming Group with the most wins of this game."></i>
            </h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" >
                    <thead>
                        <tr>
                            <th>
                                Previous/Current Champion
                            </th>
                            <th>
                                Games Won
                            </th>
                            <th>
                                Played Games
                            </th>
                            <th>
                                % Won
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-3">
                                @if (Model.PreviousChampionName != null)
                                {
                                    <span style="text-decoration: line-through">
                                        @Html.ActionLink(Model.PreviousChampionName, 
                                            "Details", 
                                            "Player", 
                                            new { id = Model.PreviousChampionPlayerId }, 
                                            new { })
                                    </span>
                                    <span>/</span>
                                }
                                @if (Model.ChampionName != null)
                                {
                                    @Html.ActionLink(Model.ChampionName, "Details", "Player", new {id = Model.ChampionPlayerId}, new {})
                                }
                            </td>
                            <td class="col-md-3">
                                @if (Model.NumberOfWins.HasValue)
                                {
                                    @Model.NumberOfWins
                                }
                            </td>
                            <td class="col-md-3">
                                @if (Model.NumberOfGamesPlayed.HasValue)
                                {
                                    @Model.NumberOfGamesPlayed
                                }
                            </td>
                            <td class="col-md-3">
                                @if (Model.WinPercentage.HasValue)
                                {
                                    @Model.WinPercentage
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>@Model.PlayedGamesPanelTitle</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-5">
                                Date Played
                            </th>
                            <th class="col-md-6">
                                Result
                            </th>
                            <th class="col-md-1">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var playedGameViewModel in @Model.PlayedGames)
                        {
                            <tr>
                                <td>@playedGameViewModel.DatePlayed.ToShortDateString()</td>
                                <td>
                                    @foreach (var gameResultViewModel in playedGameViewModel.PlayerResults)
                                    {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                @Html.ActionLink(gameResultViewModel.PlayerName, "Details", "Player", new { id = gameResultViewModel.PlayerId }, new { })
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.GameResults(gameResultViewModel, playedGameViewModel.WinnerType)
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "PlayedGame", new { id = playedGameViewModel.PlayedGameId })" title="Details">
                                        <i class="fa fa-book fa-2x"></i>
                                    </a>
                                    @if (playedGameViewModel.UserCanEdit)
									{
										<a href="@Url.Action("Edit", "PlayedGame", new { id = playedGameViewModel.PlayedGameId })" title="UpdateGamingGroupName">
											<i class="fa fa-pencil fa-2x"></i>
										</a>
                                        <a href="@Url.Action("Delete", "PlayedGame", new { id = playedGameViewModel.PlayedGameId })" title="Delete">
                                            <i class="fa fa-trash-o fa-2x"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>