@using BusinessLogic.Models.PlayedGames
@using UI.HtmlHelpers
@using UI.Models.Players
@model UI.Models.GameDefinitionModels.GameDefinitionDetailsViewModel

@{
    ViewBag.Title = Model.GameDefinitionName + " - " + Model.GamingGroupName;
    Layout = MVC.Shared.Views._BaseLayout;
}

<div id="gamedefinition-details">
    <h2 class="page-header">
        @Html.DisplayFor(model => model.BoardGameGeekInfo.GameName) on @Html.ActionLink(Model.GamingGroupName, MVC.GamingGroup.ActionNames.Details, MVC.GamingGroup.Name, new { id = @Model.GamingGroupId }, new { })
        @if (Model.UserCanEdit)
        {
            <a href="@Url.Action(MVC.GameDefinition.ActionNames.Edit, MVC.GameDefinition.Name, new {id = Model.GameDefinitionId})" class="btn btn-xs btn-default">
                <span class="fa fa-pencil"></span>&nbsp;Edit
            </a>
        }
    </h2>
    @if (Model.BoardGameGeekInfo != null)
    {
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial(MVC.UniversalGame.Views._BoardGameGeekInfo, Model.BoardGameGeekInfo)
            </div>
        </div>
    }
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Overall Statistics for @Html.ActionLink(Model.GamingGroupName, MVC.GamingGroup.ActionNames.Details, MVC.GamingGroup.Name, new { id = @Model.GamingGroupId }, new { })</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <td class="col-md-2"><strong>Total Games Played:</strong></td>
                        <td class="col-md-2">@Model.TotalNumberOfGamesPlayed</td>
                    </tr>
                    <tr>
                        <td><strong>Average Players Per Game</strong></td>
                        <td>@Model.AveragePlayersPerGame</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @{
        var viewDataDictionaryWithGamingGroupInfo = new ViewDataDictionary
        {
            {"GamingGroupName", Model.GamingGroupName},
            {"GamingGroupId", Model.GamingGroupId}
        };
    }
    <div class="row">
        @Html.Partial(MVC.Player.Views._GameDefinitionPlayersSummaryPartial, Model.GameDefinitionPlayersSummary, viewDataDictionaryWithGamingGroupInfo)
    </div>

    <div class="row">
        @Html.Partial(MVC.GameDefinition.Views._GameDefinitionPlayedGamesPartial, Model.PlayedGames, viewDataDictionaryWithGamingGroupInfo)
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var viewmodel = new window.Views.GameDefinition.GameDefinitionPlayersSummaryPartial();
            viewmodel.initListJs();
        });
    </script>

}
