@using UI.HtmlHelpers
@model UI.Models.GameDefinitionModels.GameDefinitionViewModel

@{
    ViewBag.Title = "Details";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>Details</h2>

<div>
    <h4>Game Definition Details</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="panel-heading">
    <h4>Recent Games @ViewBag.RecentGamesMessage</h4>
</div>
<div>
    @foreach (var playedGameViewModel in @Model.PlayedGames)
    {
        <div>@playedGameViewModel.DatePlayed.ToShortDateString()</div>
        foreach(var gameResultViewModel in playedGameViewModel.PlayerResults)
        { 
        <div class="row">
            <div class="col-sm-2">
                @Html.ActionLink(gameResultViewModel.PlayerName, "Details", "Player", new { id = gameResultViewModel.PlayerId }, new { })
            </div>
            <div class="col-sm-5">
                @Html.GameResults(gameResultViewModel)
            </div>
        </div>
        }
        <br/>
    }
</div>
<p>
    @if(Model.UserCanEdit)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

    }
</p>
