@model UI.Models.ManageUserViewModel

<h4>Update Password</h4>
<hr />
@Html.ValidationSummary()
<div class="form-group">
    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
</div>
