@model UI.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@ViewBag.Title</h2>
<hr/>
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Associate your @ViewBag.LoginProvider account.</h4>
        </div>
        <div class="panel-body">
            <p class="text-info">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                Please enter a user name for this site below and click the Register button to finish
                logging in.
            </p>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        </div>    
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
