@using Microsoft.AspNet.Identity;
@model UI.Models.ManageAccountViewModel
@{
    ViewBag.Title = "Manage Account";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Manage Your Account</h4>
            </div>
            <div class="panel-body">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial", Model.PasswordViewModel)
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial", Model.PasswordViewModel)
                    }
                    <br /><br />
                    @Html.Partial("_ChangeEmailPartial", Model.ChangeEmailViewModel)
                    <br /><br />
                    @Html.Partial("_CreateGamingGroupPartial", Model.ChangeEmailViewModel)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary push-30">
            <div class="panel-heading">
                <h4>Manage External Logins</h4>
            </div>
            <div class="panel-body">
                <section id="externalLogins">
                    @Html.Action("RemoveAccountList")
                    <br /><br />
                    @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
