@using Microsoft.AspNet.Identity;
@model UI.Models.ChangeEmailViewModel
@{
    ViewBag.Title = "Manage Account";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Manage Your Account</h4>
            </div>
            <div class="panel-body">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial", new UI.Models.ChangePasswordViewModel())
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial", new UI.Models.SetPasswordViewModel())
                    }
                    <br /><br />
                    <h4>Update Email Address</h4>
                    <hr />
                    @using (Html.BeginForm("ChangeEmailAddress", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" value="Change Email Address" class="btn btn-default" />
                            </div>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default push-30">
            <div class="panel-heading">
                <h4>Manage External Logins</h4>
            </div>
            <div class="panel-body">
                <section id="externalLogins">
                    @Html.Action("RemoveAccountList")
                    <br /><br />
                    @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
