@model UI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Description = "Register a NemeStats account here. We don't share your info.";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2 class="page-header">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Create a new account.</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.HiddenFor(m => m.GamingGroupInvitationId)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>    
    </div>
    
    <div class="col-md-4">
        <section id="socialLoginForm">
            <div class="sidebar-module sidebar-module-inset">
                @{
                    TempData.Add("Registration", "Register");
                }
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </div>
            <em>
                Registering an account lets you join an existing Gaming Group (if you've been invited) or create a new Gaming Group.
                We will NOT share your email address with any third party or send you spam of any sort.
            </em>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
