@model BusinessLogic.Models.Player
   
<div class="createOrUpdatePartial">
        @using (Html.BeginForm())
        {
            <div class = "form-inline">
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.Name)
                        @Html.Hidden("GamingGroupId", @Model.GamingGroupId)
                    </div>
                </div>
                <div class="form-group activeGroup">
                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.Active, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <button id="btnSubmit" type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        }
</div>