@using UI.HtmlHelpers
@model UI.Models.Players.PlayerQuickStatsViewModel

<div class="panel panel-default">
    <div class="panel-body current-player-stats">
        <a id="gtm-recordplayedgamebutton-fromquickstats" href="@Url.Action(MVC.PlayedGame.Create())" class="btn btn-action btn-lg">Record Played Game</a>
        @if (Model.LastGamingGroupPlayedGame != null)
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="@Url.Action(MVC.PlayedGame.ActionNames.Details,MVC.PlayedGame.Name,new {id = Model.LastGamingGroupPlayedGame.PlayedGameId})" title="View Played Game details">View last group game</a>
                </div>
                <div class="panel-body last-game-played">
                    <div class="col-sm-4">
                        <div class="image-col voffset2">
                            <a href="@Url.Action(MVC.GameDefinition.ActionNames.Details,MVC.GameDefinition.Name,new {id= Model.LastGamingGroupPlayedGame.GameDefinitionId})" title="View @Model.LastGamingGroupPlayedGame.GameDefinitionName details">
                                @if (!string.IsNullOrEmpty(Model.LastGamingGroupPlayedGame.ThumbnailImageUrl))
                                {
                                    <img class="bgg-thumbnail" src="@Model.LastGamingGroupPlayedGame.ThumbnailImageUrl" alt="View @Model.LastGamingGroupPlayedGame.GameDefinitionName details"/>
                                }
                                else
                                {
                                    <span>@Model.LastGamingGroupPlayedGame.GameDefinitionName</span>
                                }

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 voffset2">
                        <span>Winner:</span>
                        @if (Model.LastGamingGroupPlayedGame.WinnerType == BusinessLogic.Models.PlayedGames.WinnerTypes.TeamWin)
                        {
                            <div class="gameResult-teamWin voffset2">EVERYONE WON</div>
                        }
                        else if (Model.LastGamingGroupPlayedGame.WinnerType == BusinessLogic.Models.PlayedGames.WinnerTypes.TeamLoss)
                        {
                            <div class="gameResult-teamLoss voffset2">EVERYONE LOST</div>
                        }
                        else
                        {
                            <div class="voffset2">
                                <a href="@Url.Action(MVC.Player.ActionNames.Details,MVC.Player.Name, new {id = Model.LastGamingGroupPlayedGame.WinningPlayerId})" title="View Player details">@Model.LastGamingGroupPlayedGame.WinningPlayerName</a>
                            </div>
                        }
                    </div>
                    <div class="col-sm-4 voffset2">
                        <span>Date:</span>
                        <div class="voffset2">
                            <a href="@Url.Action(MVC.PlayedGame.ActionNames.Details,MVC.PlayedGame.Name, new {id = Model.LastGamingGroupPlayedGame.PlayedGameId})" title="View Played Game details">@Model.LastGamingGroupPlayedGame.DatePlayed.ToShortDateString()</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.PlayerId.HasValue)
        {
            <div class="row stats-boxes">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">NemePoints</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(Model.NemePointsSummary.TotalNemePoints.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { title = "View my Player details for more statistics" })&nbsp;@Html.NemePointsIco()
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Plays</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.TotalGamesPlayed.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { title = "View my Player details for more statistics" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Wins</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.TotalGamesWon.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { title = "View my Player details for more statistics" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
