@model UI.Models.Players.PlayerQuickStatsViewModel

<div class="panel panel-default">
    <div class="panel-body current-player-stats">
        <a id="gtm-recordplayedgamebutton-fromquickstats" href="@Url.Action(MVC.PlayedGame.Create())" class="btn btn-action btn-lg">Record Played Game</a>
        @if (Model.LastGamingGroupGame != null)
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="@Url.Action(MVC.PlayedGame.ActionNames.Details,MVC.PlayedGame.Name,new {id = Model.LastGamingGroupGame.PlayedGameId})">Last group game played</a>
                </div>
                <div class="panel-body last-game-played">
                    <div class="col-sm-4">
                        <div class="image-col voffset2">
                            <a href="@Url.Action(MVC.GameDefinition.ActionNames.Details,MVC.GameDefinition.Name,new {id= Model.LastGamingGroupGame.GameDefinitionId})">
                                @if (!string.IsNullOrEmpty(Model.LastGamingGroupGame.ThumbnailImageUrl))
                                {
                                    <img class="bgg-thumbnail" src="@Model.LastGamingGroupGame.ThumbnailImageUrl" alt="@Model.LastGamingGroupGame.GameDefinitionName" title="@Model.LastGamingGroupGame.GameDefinitionName" />
                                }
                                else
                                {
                                    <span>@Model.LastGamingGroupGame.GameDefinitionName</span>
                                }

                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 voffset2">
                        <span>Winner:</span>
                        @if (Model.LastGamingGroupGame.WinnerType == BusinessLogic.Models.PlayedGames.WinnerTypes.TeamWin)
                        {
                            <div class="gameResult-teamWin voffset2">EVERYONE WON</div>
                        }
                        else if (Model.LastGamingGroupGame.WinnerType == BusinessLogic.Models.PlayedGames.WinnerTypes.TeamLoss)
                        {
                            <div class="gameResult-teamLoss voffset2">EVERYONE LOST</div>
                        }
                        else
                        {
                            <div class="voffset2">
                                <a href="@Url.Action(MVC.Player.ActionNames.Details,MVC.Player.Name, new {id = Model.LastGamingGroupGame.WinningPlayerId})">@Model.LastGamingGroupGame.WinningPlayerName</a>
                            </div>
                        }
                    </div>
                    <div class="col-sm-4 voffset2">
                        <span>Date:</span>
                        <div class="voffset2">
                            <a href="@Url.Action(MVC.PlayedGame.ActionNames.Details,MVC.PlayedGame.Name, new {id = Model.LastGamingGroupGame.PlayedGameId})">@Model.LastGamingGroupGame.DatePlayed.ToShortDateString()</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.PlayerId.HasValue)
        {
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="fa-stack neme-points-ico" data-toggle="popover" data-placement="top" data-content="Total NemePoints earned by playing games" data-original-title="" title=""><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x letter"></i></span></div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(Model.NemePointsSummary.TotalNemePoints.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Games Played</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.TotalGamesPlayed.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Games Won</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.TotalGamesWon.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
