@using UI.HtmlHelpers
@using UI.Models.Players;
@model List<GameDefinitionPlayerSummaryViewModel>

@{
    Layout = null;
}

<div class="panel panel-primary game-player-statistics">
    <div class="panel-heading">
        <h4>
            Win/Loss Statistics for <a href="@Url.Action(MVC.GamingGroup.Details().AddRouteValue("id", ViewData["GamingGroupId"]))">@ViewData["GamingGroupName"]</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="flip-scroll" id="gameplayerssummary">
            <table class="table table-hover table-striped">
                <caption>
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon"><span class="fa fa-search"></span></div>
                        <input type="text" class="form-control search" placeholder="type player name">
                    </div>
                </caption>
                <thead class="player-table-head">
                <tr>
                    <th class="col-md-1 badges-head"></th>
                    <th class="col-md-2">
                        <span class="sort" data-sort="name">Name <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                    </th>
                    <th class="col-md-1">
                        <span class="sort desc" data-sort="total-points">@Html.NemePointsIco() <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                    </th>
                    <th class="col-md-1">
                        <span class="sort" data-sort="plays-col">Total Games <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                    </th>
                    <th class="col-md-2 avgpoints-head">
                        <span class="sort" data-sort="avgpoints-col">Avg. @Html.NemePointsIco(tooltip: "NemePoints") per game <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                    </th>
                    <th class="col-md-5 wonpercentage-head">
                        <span class="sort" data-sort="percentage-won">% Won <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                    </th>
                </tr>
                </thead>
                <tbody class="list">
                @foreach (var playerSummary in Model)
                {

                    <tr>
                        <td class="badges-col">
                            @foreach (var badge in playerSummary.SpecialBadgeTypes)
                            {
                                <i class="@badge.GetIconCssClass()" data-container="body" data-toggle="popover" data-placement="right"
                                   data-content="@badge.GetPopoverText()">
                                </i>
                            }
                        </td>
                        <td class="name" data-name="@playerSummary.PlayerName">
                            @Html.ActionLink(playerSummary.PlayerName, "Details", "Player", new
                            {
                                id = playerSummary.PlayerId
                            }, new
                            {
                                title = "View Player details"
                            })
                        </td>
                        <td class="total-points" data-nemepoints="@playerSummary.NemePointsSummary.TotalNemePoints">
                            <span data-toggle="popover" data-html="true" data-templateselector="#@playerSummary.PlayerId" data-title="NemePoints breakdown">
                                    @playerSummary.NemePointsSummary.TotalNemePoints
                                </span>
                        </td>
                        <td class="plays-col">@playerSummary.TotalGamesPlayed</td>
                        <td class="avgpoints-col">@playerSummary.AveragePointsPerGame.ToString("N2")</td>
                        <td class="percentage-won" data-winpercentage="@playerSummary.WinPercentage">
                            <div class="progress" data-container="body" data-toggle="popover" data-placement="top"
                                 data-content="@playerSummary.GamesWon games won - @playerSummary.GamesLost games lost">
                                <div class="progress-bar won" style="width: @playerSummary.WinPercentage%">
                                    <span>@playerSummary.GamesWon</span>
                                </div>
                                <div class="progress-bar lost" style="width: @playerSummary.LostPercentage%">
                                    <span>@playerSummary.GamesLost</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            @playerSummary.WinPercentage&nbsp;%
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <ul class="pagination"></ul>
        </div>

    </div>
</div>

@foreach (var playerSummary in Model)
{
    @Html.Partial("_NemePointsBreakdown", playerSummary.NemePointsSummary, new ViewDataDictionary {{"templateid", playerSummary.PlayerId}})
}