@using UI.HtmlHelpers
@model UI.Models.Players.GameDefinitionPlayersSummaryViewModel

@{
    Layout = null;
}

<div class="panel panel-primary game-player-statistics">
    <div class="panel-heading">
        <h4>
           Win - Loss Statistics
        </h4>
    </div>
    <div class="panel-body">
        <div class="flip-scroll">
            <table class="table table-hover table-striped">
                <thead class="player-table-head">
                    <tr>
                        <th class="col-md-1 badges-head"></th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-1">@Html.NemePointsIco()</th>
                        <th class="col-md-1">Total Games</th>
                        <th class="col-md-2 avgpoints-head">Avg. @Html.NemePointsIco(tooltip: "NemePoints") per game</th>
                        <th class="col-md-5 wonpercentage-head">% Won</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UI.Models.Players.GameDefinitionPlayerSummaryViewModel playerSummary in Model.GameDefinitionPlayerSummaries)
                    {
                        <tr>
                            <td class="badges-col">
                                @foreach (var badge in playerSummary.SpecialBadgeTypes)
                                {
                                    <i class="@badge.GetIconCssClass()" data-container="body" data-toggle="popover" data-placement="right"
                                       data-content="@badge.GetPopoverText()">
                                    </i>
                                }
                            </td>
                            <td>
                                @Html.ActionLink(playerSummary.PlayerName, "Details", "Player", new
                       {
                           id = playerSummary.PlayerId
                       }, new
                       {
                       })
                            </td>
                            <td>@playerSummary.NemePointsSummary.TotalNemePoints</td>
                            <td class="plays-col">@playerSummary.TotalGamesPlayed</td>
                            <td class="avgpoints-col">@playerSummary.AveragePointsPerGame.ToString("N2")</td>
                            <td>
                                <div class="progress" data-container="body" data-toggle="popover" data-placement="top"
                                     data-content="@playerSummary.GamesWon games won - @playerSummary.GamesLost games lost">
                                    <div class="progress-bar won" style="width: @playerSummary.WinPercentage%">
                                        <span>@playerSummary.GamesWon</span>
                                    </div>
                                    <div class="progress-bar lost" style="width: @playerSummary.LostPercentage%">
                                        <span>@playerSummary.GamesLost</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @playerSummary.WinPercentage&nbsp;%
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>