@model UI.Models.Players.PlayersSummaryViewModel

@{
    Layout = null;
}

<div class="panel panel-primary player-statistics">
    <div class="panel-heading">
        <h4>
           Player VS Player Statistics
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Player Name</th>
                    <th>@Model.WinLossHeader</th>
                    <th>% Won</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UI.Models.Players.PlayerSummaryViewModel playerSummary in Model.PlayerSummaries)
                {
                    <tr>
                        <td>
                            @foreach(var badge in playerSummary.SpecialBadgeTypes)
                            {
                                <i class="fa @badge.GetFontAwesomeCssClass()" data-container="body" data-toggle="popover" data-placement="right"
                                   data-content="@badge.GetPopoverText()">
                                </i>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(playerSummary.PlayerName, "Details", "Player", new { id = playerSummary.PlayerId }, new { })
                        </td>
                        <td>
                            <div class="progress" data-container="body" data-toggle="popover" data-placement="top"
                                   data-content="@playerSummary.GamesWon games won - @playerSummary.GamesLost games lost">
                                <div class="progress-bar won" style="width: @playerSummary.WinPercentage%">
                                    <span>@playerSummary.GamesWon</span>
                                </div>
                                <div class="progress-bar lost" style="width: @playerSummary.LostPercentage%">
                                    <span>@playerSummary.GamesLost</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            @playerSummary.WinPercentage %
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>