@model IList<UI.Models.Players.PlayerWithNemesisViewModel>
<div class="playersList">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="fl-left">
                Players
            </h4>
        @if ((bool?)ViewData["canEdit"] == true)
        {
            <div class="fl-right">
                @Html.Action("SavePlayer", "Player")
            </div>
        }
            <div class="fl-clear"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-5">
                                Player Name
                            </th>
                            <th class="col-md-5">
                                Previous/Current Nemesis
                            </th>
                            <th class="col-md-1">

                            </th>
                        </tr>
                    </thead>
                    <tbody id="playersListTableBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.PlayerName, MVC.Player.Details(item.PlayerId, null))
                                </td>
                                <td>
                                    @if (item.PreviousNemesisPlayerId.HasValue)
                                    {
                                        <span style="text-decoration: line-through">
                                            @Html.ActionLink(item.PreviousNemesisPlayerName, MVC.Player.Details(item.PreviousNemesisPlayerId, null));
                                        </span> 
                                        @:<br/>
                                    }
                                    
                                    @if (item.NemesisPlayerId.HasValue) 
                                    {
                                        @Html.ActionLink(item.NemesisPlayerName , MVC.Player.Details(item.NemesisPlayerId, null));
                                    }
                                </td>
                                @if (item.UserCanEdit)
                                {
                                    <td>
                                        <a href="@Url.Action("Edit", "Player", new { id = item.PlayerId })" title="Edit">
                                            <i class="fa fa-pencil fa-3x"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>