@model IList<UI.Models.Players.PlayerWithNemesisViewModel>

@{
    Layout = null;
}

<div class="playersList">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="fl-left">
                Players
            </h4>
        @if ((bool?)ViewData["canEdit"] == true)
        {
            <div class="fl-right">
                @Html.Action("SavePlayer", "Player")
            </div>
        }
            <div class="fl-clear"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-4">
                                Player Name
                            </th>
                            <th class="col-md-2">
                                @if ((bool?)ViewData["canEdit"] == true)
                                {
                                    @:Registered
                                }
                            </th>
                            <th class="col-md-2">Games Played</th>
                            <th class="col-md-3">
                                Previous/Current Nemesis <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="left"
   data-content="The Nemesis is the Player with the highest win % vs. this Player. Must have won at least 3 games to be designated as the Nemesis."></i></th>
                            <th class="col-md-1">

                            </th>
                        </tr>
                    </thead>
                    <tbody id="playersListTableBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <b>@Html.ActionLink(item.PlayerName, MVC.Player.Details(item.PlayerId, null))</b>
                                </td>
                                <td>
                                    @if ((bool?)ViewData["canEdit"] == true)
                                    {
                                        @Html.DisplayFor(modelItem => item.PlayerRegistered)
                                        if (!item.PlayerRegistered)
                                        {
                                            <b>
                                                <a href='@Url.Action(MVC.Player.ActionNames.InvitePlayer, MVC.Player.Name, new { id = item.PlayerId })' title="Invite this player to your gaming group">
                                                    <span class="fa fa-envelope" aria-label="Invite this player to your gaming group"></span>
                                                </a>
                                            </b>
                                        }
                                    }
                                </td>
                                <td>@item.NumberOfGamesPlayed</td>
                                <td>
                                    @if (item.PreviousNemesisPlayerId.HasValue)
                                    {
                                        <span style="text-decoration: line-through">
                                            <b>
                                                @Html.ActionLink(item.PreviousNemesisPlayerName, MVC.Player.Details(item.PreviousNemesisPlayerId, null))
                                            </b>
                                        </span> 
                                        @:<br/>
                                    }
                                    
                                    @if (item.NemesisPlayerId.HasValue) 
                                    {
                                        <b>
                                            @Html.ActionLink(item.NemesisPlayerName, MVC.Player.Details(item.NemesisPlayerId, null))
                                        </b>
                                    }
                                </td>
                                @if (item.UserCanEdit)
                                {
                                    <td>
                                        <a href="@Url.Action("Edit", "Player", new { id = item.PlayerId })" title="Edit">
                                            <i class="fa fa-pencil fa-2x"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>