@using UI.HtmlHelpers
@model IEnumerable<UI.Models.Players.TopPlayerViewModel>

<div id="topPlayersVote" class="fl-right" style="margin-top: 21px; margin-bottom: 10.5px;"></div>
<div class="fl-clear"></div>
<div class="flip-scroll">
	<table class="table table-hover table-striped" id="topPlayersTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Played Games</th>
				<th>Win %</th>
				<th>@Html.NemePointsIco()</th>
			</tr>
		</thead>
        @{ var position = 1; }
		@foreach (UI.Models.Players.TopPlayerViewModel playerSummaryViewModel in @Model)
		{
			<tr data-position="@position">
                @{ position++; }
				<td>@Html.ActionLink(playerSummaryViewModel.PlayerName, "Details", "Player", new { id = playerSummaryViewModel.PlayerId }, new { })</td>
				<td>@playerSummaryViewModel.TotalNumberOfGamesPlayed</td>
				<td>@playerSummaryViewModel.WinPercentage&nbsp;%</td>
				<td>@playerSummaryViewModel.NemePointsSummary.TotalNemePoints</td>
			</tr>
		}
	</table>
</div>