@using UI.HtmlHelpers
@model IEnumerable<BusinessLogic.Models.Players.ChampionDataModel>

<div class="flip-scroll">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Wins</th>
                <th>Plays</th>
                <th>Win %</th>
            </tr>
        </thead>
        @{ var position = 1; }
        @foreach (var championDataModel in @Model)
        {
            <tr>
                <td>@Html.ActionLink(championDataModel.PlayerName, "Details", "Player", new { id = championDataModel.PlayerId}, new{ title = "View Player details"})</td>
                <td>@Html.ActionLink(championDataModel.PlayerGamingGroupName, "Details", "GamingGroup", new { id = championDataModel.PlayerGamingGroupId }, new { title = "View Gaming Group details" })</td>
                <td>@championDataModel.NumberOfWins</td>
                <td>@championDataModel.NumberOfGames</td>
                <td>@championDataModel.WinPercentage&nbsp;%</td>   
        </tr>
                    }
    </table>
</div>