@model UI.Models.Players.PlayerQuickStatsViewModel
@{
    Layout = null;
}


<div class="panel panel-default">
    <div class="panel-body current-player-stats">
        <a id="gtm-recordplayedgamebutton-fromquickstats" href="@Url.Action(MVC.PlayedGame.Create())" class="btn btn-action btn-lg">Record Played Game</a>
        @if (Model.LastGamingGroupGame != null)
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Last group game played", "Details", "PlayedGame", new { id = Model.LastGamingGroupGame.PlayedGameId }, new { })
                </div>
                <div class="panel-body last-game-played">
                    <div class="col-sm-4">

                        @if (Model.LastGamingGroupGame.BoardGameGeekUri != null)
                {
                            <div class="image-col voffset2">
                                <a href="@Model.LastGamingGroupGame.BoardGameGeekUri.AbsoluteUri" target="_blank;">
                                    @if (!string.IsNullOrEmpty(Model.LastGamingGroupGame.ThumbnailImageUrl))
                                    {
                                        <img class="bgg-thumbnail" src="@Model.LastGamingGroupGame.ThumbnailImageUrl" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                                    }

                                </a>
                            </div>

                        }

                        else
                        {
                            <div class="voffset2">
                                @Model.LastGamingGroupGame.GameDefinitionName
                            </div>
                        }
                    </div>
                    <div class="col-sm-4 voffset2">
                        <span>Winner:</span>
                        @if (Model.LastGamingGroupGame.WinnerType == BusinessLogic.Models.PlayedGames.WinnerTypes.TeamWin)
                        {
                            <div class="gameResult-teamWin voffset2">EVERYONE WON</div>
                        }
                        else if (Model.LastGamingGroupGame.WinnerType == BusinessLogic.Models.PlayedGames.WinnerTypes.TeamLoss)
                        {
                            <div class="gameResult-teamLoss voffset2">EVERYONE LOST</div>
                        }
                        else
                        {
                            <div class="voffset2">@Html.ActionLink(Model.LastGamingGroupGame.WinningPlayerName, "Details", "Player", new { id = Model.LastGamingGroupGame.WinningPlayerId }, new { })</div>
                        }
                    </div>
                    <div class="col-sm-4 voffset2">
                        <span>Date:</span>
                        <div class="voffset2">
                            @Html.ActionLink(@Model.LastGamingGroupGame.DatePlayed.ToShortDateString(), "Details", "PlayedGame", new { id = Model.LastGamingGroupGame.PlayedGameId }, new { })
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.PlayerId.HasValue)
        {
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="fa-stack neme-points-ico" data-toggle="popover" data-placement="top" data-content="Total NemePoints earned by playing games" data-original-title="" title=""><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x letter">N</i></span></div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.NemePointsSummary.TotalNemePoints.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Games Played</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.TotalGamesPlayed.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Games Won</div>
                        <div class="panel-body stat-value">
                            @Html.ActionLink(@Model.TotalGamesWon.ToString(), "Details", "Player", new { id = Model.PlayerId }, new { })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
