@model UI.Models.Players.PlayerDetailsViewModel
@using BusinessLogic.Models.PlayedGames
@using UI.HtmlHelpers
@using UI.Models.Players
@{
    ViewBag.Title = @Model.PlayerName + " - " + Model.GamingGroupName;
    Layout = MVC.Shared.Views._BaseLayout;
}

<div id="player-details">
    <h2 class="page-header">
        @Html.DisplayFor(model => model.PlayerName) on @Html.ActionLink(Model.GamingGroupName, MVC.GamingGroup.ActionNames.Details, MVC.GamingGroup.Name, new { id = Model.GamingGroupId }, new { })
        @if (Model.UserCanEdit)
        {
            <a href="@Url.Action(MVC.Player.ActionNames.Edit,MVC.Player.Name, new{id = Model.PlayerId})" class="btn btn-xs btn-default">
                <span class="fa fa-pencil"></span>&nbsp;Edit
            </a>
        }
    </h2>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Player Info</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <strong>
                            Name
                        </strong>
                    </div>

                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.PlayerName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>
                            @Html.DisplayNameFor(model => model.PlayerRegistered)
                        </strong>
                    </div>

                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.PlayerRegistered)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>
                            @Html.DisplayNameFor(model => model.Active)
                        </strong>
                    </div>

                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.Active)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>
                            Gaming Group
                        </strong>
                    </div>
                    <div class="col-sm-3">
                        @Html.ActionLink(@Model.GamingGroupName, "Details", "GamingGroup", new { id = @Model.GamingGroupId }, new { })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Global Statistics</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <td><strong>Total Games:</strong></td>
                        <td>@Model.TotalGamesPlayed</td>
                    </tr>
                    <tr>
                        <td><strong>Win - Loss Record:</strong></td>
                        <td>@Model.TotalGamesWon - @Model.TotalGamesLost</td>
                    </tr>
                    <tr>
                        <td><strong>Win Percentage:</strong></td>
                        <td>@Model.WinPercentage %</td>
                    </tr>
                    <tr>
                        <td><strong>Total Points:</strong></td>
                        @Html.Partial("_NemePointsBreakdown", Model.NemePointsSummary, new ViewDataDictionary { { "templateid", Model.PlayerId } })
                        <td>
                            <span data-toggle="popover" data-html="true" data-templateselector="#@Model.PlayerId" data-title="NemePoints breakdown">
                                @Model.NemePointsSummary.TotalNemePoints @Html.NemePointsIco()
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Total Championed Games:</strong></td>
                        <td>@Model.TotalChampionedGames <i class="fa fa-trophy" data-toggle="popover" data-placement="top" data-content="Total games Championed by this Player"></i></td>
                    </tr>
                    <tr>
                        <td><strong>Average Points Per Game:</strong></td>
                        <td>@Model.AveragePointsPerGame.ToString("N2")</td>
                    </tr>
                    <tr>
                        <td><strong>Average Players Per Game:</strong></td>
                        <td>@Model.AveragePlayersPerGame.ToString("N2")</td>
                    </tr>
                    <tr>
                        <td><strong>Average Points Per Player:</strong></td>
                        <td>@Model.AveragePointsPerPlayer.ToString("N2")</td>
                    </tr>
                    <tr>
                        <td><strong>Longest Winning Streak:</strong></td>
                        <td>@Model.LongestWinningStreak</td>
                    </tr>
                </table>
                <div id="GamesPieChart">
                    <svg style='height:400px;'> </svg>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        @Html.Partial(MVC.Player.Views._PlayersSummaryPartial, Model.PlayerVersusPlayers)
    </div>


    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Game Statistics</h4>
            </div>
            <div class="panel-body">
                <div class="gameDefinitionsList flip-scroll" id="playedgameslist">
                    <table class="table table-hover table-striped">
                        <caption>
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon"><span class="fa fa-search"></span></div>
                                <input type="text" class="form-control search" placeholder="type game name">
                            </div>
                        </caption>
                        <thead>
                        <tr>
                            <th class="badges-head">
                                <span class="hidden-md hidden-lg">
                                        Badges
                                    </span>
                            </th>
                            <th class="bgg-link-head">
                                <span class="hidden-md hidden-lg">
                                        Image
                                    </span>
                            </th>
                            <th class="name-head">
                                <span class="sort" data-sort="name-col">Name <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                            </th>
                            <th>
                                <span class="sort desc" data-sort="winloss-col">Win - Loss Record <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                            </th>
                            <th>
                                <span class="sort" data-sort="win-percentage-col">% Won <span class="fa fa-caret-down"></span> <span class="fa fa-caret-up"></span></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        @foreach (var summary in Model.PlayerGameSummaries)
                        {
                            <tr class="game-item">
                                <td class="badges-col">
                                    @if (summary.IsChampion)
                                    {
                                        <i class="fa fa-trophy" data-container="body" data-toggle="popover" data-placement="right"
                                           data-content="This Player is the Champion of this game. The Champion is the Player within the Gaming Group with the most wins of this game.">
                                        </i>
                                    }
                                    @if (summary.IsFormerChampion)
                                    {
                                        <i class="ns-icon-former-champion" data-container="body" data-toggle="popover" data-placement="right"
                                           data-content="This Player is the former Champion of this game.">
                                        </i>
                                    }
                                </td>
                                <td class="bgg-link-col">
                                    @if (!string.IsNullOrEmpty(summary.ThumbnailImageUrl))
                                    {
                                        <a href="@Url.Action(MVC.GameDefinition.ActionNames.Details, MVC.GameDefinition.Name, new {id = summary.GameDefinitionId})">
                                            <img class="bgg-thumbnail" src="@summary.ThumbnailImageUrl" alt="@summary.GameDefinitionName" title="@summary.GameDefinitionName"/>
                                        </a>
                                    }
                                </td>
                                <td class="name-col" data-name="@summary.GameDefinitionName">
                                    @Html.ActionLink(summary.GameDefinitionName, "Details", "GameDefinition", new {id = summary.GameDefinitionId}, new {})
                                </td>
                                <td class="winloss-col" data-winloss="@(summary.NumberOfGamesWon - summary.NumberOfGamesLost)">
                                    @summary.NumberOfGamesWon - @summary.NumberOfGamesLost
                                </td>
                                <td class="win-percentage-col">
                                    @summary.WinPercentage
                                </td>
                            </tr>

                        }
                        </tbody>
                    </table>
                    <ul class="pagination"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @if (Model.PlayerGameResultDetails.Any())
        {
            <div class="panel panel-primary gameDefinitionsList">
                <div class="panel-heading">
                    <h4>Recent Games @ViewBag.RecentGamesMessage</h4>
                </div>
                <div class="panel-body flip-scroll">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="bgg-link-head"></th>
                                <th class="name-head">Game</th>
                                <th>Date Played</th>
                                <th>Rank</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var gameResultViewModel in Model.PlayerGameResultDetails)
                            {
                                <tr class="game-item">
                                    <td class="bgg-link-col">
                                        @if (gameResultViewModel.BoardGameGeekUri != null)
                                        {
                                            if (!string.IsNullOrEmpty(gameResultViewModel.ThumbnailImageUrl))
                                            {
                                                <a href="@Url.Action(MVC.GameDefinition.ActionNames.Details,MVC.GameDefinition.Name,new {id=gameResultViewModel.GameDefinitionId})">
                                                    <img class="bgg-thumbnail" src="@gameResultViewModel.ThumbnailImageUrl" alt="@gameResultViewModel.GameDefinitionName" title="@gameResultViewModel.GameDefinitionName" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@gameResultViewModel.BoardGameGeekUri.AbsoluteUri" target="_blank;">
                                                    <img src="~/Content/Images/bgg_small.png" alt="View on BoardGameGeek.com" title="View on BoardGameGeek.com" />
                                                </a>
                                            }
                                        }
                                    </td>
                                    <td class="name-col">
                                        @Html.ActionLink(gameResultViewModel.GameDefinitionName, "Details", "GameDefinition", new { id = gameResultViewModel.GameDefinitionId }, new { })
                                    </td>
                                    <td>
                                        @Html.ActionLink(gameResultViewModel.DatePlayed.ToShortDateString(), "Details", "PlayedGame", new { id = gameResultViewModel.PlayedGameId }, new { })
                                    </td>
                                    <td class="result-col">
                                        @*Don't have the WinnerType available on PlayerGameResult and this is a big refactor to make it work.*@
                                        @Html.Partial(MVC.PlayedGame.Views._GameResult, new GameResultRankViewModel() {GameResult = gameResultViewModel,WinnerType =  WinnerTypes.PlayerWin})
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/d3")
        @Styles.Render("~/bundles/d3/css")
        <script type="text/javascript">
            $(document).ready(function () {
                var playerDetails = new window.Views.Player.Details();
                var settings = { "apiUri" : "/api/v2/GamingGroups/"+ @Model.GamingGroupId + "/PlayerStats/" + @Model.PlayerId };
                playerDetails.init(settings);
                playerDetails.renderGameDefinitionsPieChart();
            });
        </script>
    }
</div>