@model UI.Models.Players.PlayerDetailsViewModel
@using BusinessLogic.Models.PlayedGames
@using UI.HtmlHelpers
@{
    ViewBag.Title = @Model.PlayerName + " - " + Model.GamingGroupName;
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@Html.DisplayFor(model => model.PlayerName)</h2>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Player Info</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        Name
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.PlayerName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        @Html.DisplayNameFor(model => model.PlayerRegistered)
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.PlayerRegistered)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        @Html.DisplayNameFor(model => model.Active)
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.Active)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        Gaming Group
                    </strong>
                </div>
                <div class="col-sm-3">
                    @Html.ActionLink(@Model.GamingGroupName, "Details", "GamingGroup", new { id = @Model.GamingGroupId }, new { })
                </div>
            </div>
            @if(Model.UserCanEdit)
            {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }, new { @class = "btn btn-sm btn-primary" })
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Global Statistics</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <tr>
                    <td><strong>Total Games:</strong></td>
                    <td>@Model.TotalGamesPlayed</td>
                </tr>
                <tr>
                    <td><strong>Win - Loss Record:</strong></td>
                    <td>@string.Format("{0} - {1}", Model.TotalGamesWon, Model.TotalGamesLost)</td>
                </tr>
                <tr>
                    <td><strong>Win Percentage:</strong></td>
                    <td>@Model.WinPercentage</td>
                </tr>
                <tr>
                    <td><strong>Total Points:</strong></td>
                    <td>@Model.TotalPoints @Html.NemePointsIco()</td>
                </tr>
                <tr>
                    <td><strong>Average Points Per Game:</strong></td>
                    <td>@Model.AveragePointsPerGame.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Average Players Per Game:</strong></td>
                    <td>@Model.AveragePlayersPerGame.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Average Points Per Player:</strong></td>
                    <td>@Model.AveragePointsPerPlayer.ToString("N2")</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    @Html.Partial("~/Views/Player/_PlayersSummaryPartial.cshtml", Model.PlayerVersusPlayers)
</div>


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Game Statistics</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped  table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Game</th>
                        <th>Win - Loss Record</th>
                        <th>% Won</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var summary in @Model.PlayerGameSummaries)
                    {
                        <tr>
                            <td>
                                @if (summary.IsChampion)
                                {
                                    <i class="fa fa-trophy" data-container="body" data-toggle="popover" data-placement="right"
                                       data-content="This Player is the Champion of this game. The Champion is the Player within the Gaming Group with the most wins of this game.">
                                    </i>
                                }
                            </td>
                            <td>
                                @Html.ActionLink(summary.GameDefinitionName, "Details", "GameDefinition", new { id = summary.GameDefinitionId }, new { })
                            </td>
                            <td>
                                @string.Format("{0} - {1}", summary.NumberOfGamesWon, summary.NumberOfGamesLost)
                            </td>
                            <td>
                                @summary.WinPercentage
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    @if (Model.PlayerGameResultDetails.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Recent Games @ViewBag.RecentGamesMessage</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date Played</th>
                            <th>Game</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var gameResultViewModel in @Model.PlayerGameResultDetails)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(gameResultViewModel.DatePlayed.ToShortDateString(), "Details", "PlayedGame", new { id = gameResultViewModel.PlayedGameId }, new { })
                                </td>
                                <td>
                                    @Html.ActionLink(gameResultViewModel.GameDefinitionName, "Details", "GameDefinition", new { id = gameResultViewModel.GameDefinitionId }, new { })
                                </td>
                                <td>
                                    @*Don't have the WinnerType available on PlayerGameResult and this is a big refactor to make it work.*@
                                    @Html.GameResults(gameResultViewModel, WinnerTypes.PlayerWin)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>