@model UI.Models.Players.PlayerDetailsViewModel
@using BusinessLogic.Models.PlayedGames
@using UI.HtmlHelpers
@using UI.Models
@{
    ViewBag.Title = @Model.PlayerName + " - " + Model.GamingGroupName;
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@Html.DisplayFor(model => model.PlayerName)</h2>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Player Info</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        Name
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.PlayerName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        @Html.DisplayNameFor(model => model.PlayerRegistered)
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.PlayerRegistered)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        @Html.DisplayNameFor(model => model.Active)
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.Active)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        Gaming Group
                    </strong>
                </div>
                <div class="col-sm-3">
                    @Html.ActionLink(@Model.GamingGroupName, "Details", "GamingGroup", new { id = @Model.GamingGroupId }, new { })
                </div>
            </div>
            @if(Model.UserCanEdit)
            {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }, new { @class = "btn btn-sm btn-primary" })
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="row">
    @if (@Model.HasNemesis)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Nemesis <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right"
   data-content="The Nemesis is the Player with the highest win % vs. this Player. Must have won at least 3 games to be designated as the Nemesis."></i></h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Previous/Current Player Name</th>
                            <th>Games Lost</th>
                            <th>% Lost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.ActionLink(Model.NemesisName, "Details", "Player", new { id = Model.NemesisPlayerId }, new { })
                            </td>
                            <td>
                                @Model.NumberOfGamesLostVersusNemesis
                            </td>
                            <td>
                                @Model.LossPercentageVersusPlayer
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<a name="minions"></a>
<div class="row">
    @if (@Model.Minions.Count > 0)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    Minions <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right"
                               data-content="Minions are Players who have this Player as a Nemesis."></i> 
                    @if(Model.MinionBraggingTweetUrl != null)
                    {
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="@Model.MinionBraggingTweetUrl" data-text="Check out my Minions on &#64;nemestats!" data-related="nemestats" data-count="none" data-hashtags="boardgames" data-dnt="true" title="Brag about your minions on twitter">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    }
                </h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Games Won</th>
                            <th>% Won</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UI.Models.Players.MinionViewModel minion in Model.Minions)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(minion.MinionName, "Details", "Player", new { id = minion.MinionPlayerId }, new { })
                                </td>
                                <td>
                                    @minion.NumberOfGamesWonVersusMinion
                                </td>
                                <td>
                                    @minion.WinPercentageVersusMinion
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>


@if (Model.ChampionedGames.Count > 0)
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Championed Games <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="right"
   data-content="The Champion is the Player within the Gaming Group with the most wins of this game."></i></h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                    <th>Game</th>
                    <th>Games Played</th>
                    <th>Games Won</th>
                    <th>Win Percentage</th>
                    </thead>
                    <tbody>
                        @foreach (ChampionViewModel championModel in @Model.ChampionedGames)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(championModel.GameDefinitionName, "Details", "GameDefinition", new { id = championModel.GameDefinitionId }, new { })
                                </td>
                                <td>
                                    @championModel.NumberOfGames
                                </td>
                                <td>
                                    @championModel.NumberOfWins
                                </td>
                                <td>
                                    @championModel.WinPercentage
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Global Statistics</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <tr>
                    <td><strong>Total Games:</strong></td>
                    <td>@Model.TotalGamesPlayed</td>
                </tr>
                <tr>
                    <td><strong>Total Points:</strong></td>
                    <td>@Model.TotalPoints</td>
                </tr>
                <tr>
                    <td><strong>Average Points Per Game:</strong></td>
                    <td>@Model.AveragePointsPerGame.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Average Players Per Game:</strong></td>
                    <td>@Model.AveragePlayersPerGame.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Average Points Per Player (0 to 1):</strong></td>
                    <td>@Model.AveragePointsPerPlayer.ToString("N2")</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Game Statistics</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Games Played</th>
                        <th>Games Won</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BusinessLogic.Models.Players.PlayerGameSummary summary in @Model.PlayerGameSummaries)
                    {

                        <tr>
                            <td>
                                @Html.ActionLink(summary.GameDefinitionName, "Details", "GameDefinition", new { id = summary.GameDefinitionId }, new { })
                            </td>
                            <td>
                                @summary.GamesPlayed
                            </td>
                            <td>
                                @summary.GamesWon
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    @if (Model.PlayerGameResultDetails.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Recent Games @ViewBag.RecentGamesMessage</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date Played</th>
                            <th>Game</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var gameResultViewModel in @Model.PlayerGameResultDetails)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(gameResultViewModel.DatePlayed.ToShortDateString(), "Details", "PlayedGame", new { id = gameResultViewModel.PlayedGameId }, new { })
                                </td>
                                <td>
                                    @Html.ActionLink(gameResultViewModel.GameName, "Details", "GameDefinition", new { id = gameResultViewModel.GameDefinitionId }, new { })
                                </td>
                                <td>
                                    @*Don't have the WinnerType available on PlayerGameResult and this is a big refactor to make it work.*@
                                    @Html.GameResults(gameResultViewModel, WinnerTypes.PlayerWin);
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }
</div>







