@model BusinessLogic.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br/>
<div>
    <h4>Recent Games</h4>
    @foreach (var playerGameResult in @Model.PlayerGameResults)
    {
        @Html.Partial("~/Views/Shared/DisplayTemplates/PlayerGameResult.cshtml", playerGameResult);
        <!--TODO THIS ISNT WORKING YET-->
        @Html.ActionLink("[Details]", "Details", "PlayedGame", new { id = playerGameResult.PlayedGame.Id }, new { })
        <br/><br/>
    }
</div>
