@using UI.HtmlHelpers
@using System.Collections.Generic;
@using UI.Models.PlayedGame;
@model UI.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = "Player Details";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@Html.DisplayFor(model => model.PlayerName)</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Player Info</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        Name
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.PlayerName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>
                        @Html.DisplayNameFor(model => model.Active)
                    </strong>
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(model => model.Active)
                </div>
            </div>
            @if(Model.UserCanEdit)
            {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }, new { @class = "btn btn-sm btn-primary" })
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="row">
    @if (@Model.HasNemesis)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Nemesis</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Previous/Current Player Name</th>
                            <th>Games Lost</th>
                            <th>% Lost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.ActionLink(Model.NemesisName, "Details", "Player", new { id = Model.NemesisPlayerId }, new { })
                            </td>
                            <td>
                                @Model.NumberOfGamesLostVersusNemesis
                            </td>
                            <td>
                                @Model.LossPercentageVersusPlayer
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>


<div class="row">
    @if (@Model.Minions.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Minions</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Games Won</th>
                            <th>% Won</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(UI.Models.Players.MinionViewModel minion in Model.Minions)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(minion.MinionName, "Details", "Player", new { id = minion.MinionPlayerId }, new { })
                            </td>
                            <td>
                                @minion.NumberOfGamesWonVersusMinion
                            </td>
                            <td>
                                @minion.WinPercentageVersusMinion
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Statistics</h4>
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td><strong>Total Games:</strong></td>
                    <td>@Model.TotalGamesPlayed</td>
                </tr>
                <tr>
                    <td><strong>Total Points:</strong></td>
                    <td>@Model.TotalPoints</td>
                </tr>
                <tr>
                    <td><strong>Average Points Per Game:</strong></td>
                    <td>@Model.AveragePointsPerGame.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Average Players Per Game:</strong></td>
                    <td>@Model.AveragePlayersPerGame.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Average Points Per Player (0 to 1):</strong></td>
                    <td>@Model.AveragePointsPerPlayer.ToString("N2")</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    @if (Model.PlayerGameResultDetails.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Recent Games @ViewBag.RecentGamesMessage</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date Played</th>
                            <th>Game</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    @foreach (var playerGameResult in @Model.PlayerGameResultDetails)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.ActionLink(playerGameResult.DatePlayed.ToShortDateString(), "Details", "PlayedGame", new { id = playerGameResult.PlayedGameId }, new { })
                                </td>
                                <td>
                                    @Html.ActionLink(playerGameResult.GameName, "Details", "GameDefinition", new { id = playerGameResult.GameDefinitionId }, new { })
                                </td>
                                <td>
                                    @Html.GameResults(playerGameResult)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>

            </div>
        </div>
    }
</div>







