@using UI.HtmlHelpers
@using System.Collections.Generic;
@using UI.Models.PlayedGame;
@model UI.Models.Players.PlayerDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br/>
<div>
    <h4>Recent Games @ViewBag.RecentGamesMessage</h4>
    @foreach(var playerResult in @Model.PlayerGameResultDetails)
    {
        @playerResult.GameName <text>- </text>
        @Html.GameResults(playerResult) 
        @Html.ActionLink("[Details]", "Details", "PlayedGame", new { id = playerResult.PlayedGameId }, new { })
        <br/><br/>
    }
</div>
<div>
    <h4>Statistics</h4>
    Total Games: @Model.TotalGamesPlayed
</div>
