@model UI.Models.Players.PlayerEditViewModel

@{
    ViewBag.Title = "UpdateGamingGroupName Player";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>@ViewBag.Title</h2>
<hr />


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>UpdateGamingGroupName Player</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                        @Html.Hidden("GamingGroupId", @Model.GamingGroupId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


