@model IEnumerable<BusinessLogic.Models.Player>

@{
    ViewBag.Title = "Players";
    Layout = MVC.Shared.Views._BaseLayout;
}

<div class="row margin-bottom-xs">
    <h2>@ViewBag.Title</h2>
    <hr />
    @Html.ActionLink("Create New", "Create", "Player", new { @class = "btn btn-primary btn-sm" })
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Player", new { id = item.Id })" title="Edit">
                                <span class="glyphicon glyphicon-pencil font-size-sm"></span>
                            </a>

                            <a href="@Url.Action("Details", "Player", new { id = item.Id })" title="Details">
                                <span class="glyphicon glyphicon-book font-size-sm"></span>
                            </a>

                            <a href="@Url.Action("Delete", "Player", new { id = item.Id })" title="Delete">
                                <span class="glyphicon glyphicon-trash font-size-sm"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>