@model BusinessLogic.Models.PlayerGameResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerGameResult</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayedGame.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayedGame.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
