@using BusinessLogic.DataAccess

@{
    Layout = MVC.Shared.Views._Layout;
}

<div class="container body-content">
    @RenderBody()

    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year - NemeStats |
            <a href="https://plus.google.com/115226456486429841980" rel="publisher">Google+</a> |
            &#64;nemestats
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/custom")
@RenderSection("Scripts", required: false)