@using UI.App_Start


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="msvalidate.01" content="52A9C8830987C1456378EB7E298524FB" />
    <title>@ViewBag.Title | NemeStats</title>
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    @*nerdscorekeeper.azurewebsites.net verification*@
    <meta name="google-site-verification" content="wt2aHdGBSjZN_J-G68XJJVds97V76Su3aVhkxUGN0CU"/>
    @*nemestats.com verification*@
    <meta name="google-site-verification" content="5M6V9FQPDVcCL7_xBf7P7BLFmZFaWrOFUjizO1rPbvU"/>

    <meta name="og:site_name" content="NemeStats" />
    @RenderSection("CustomMetas", required: false)

    @Styles.Render("~/bundles/content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    @GoogleTagManager()
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action(MVC.Home.Index())" class="navbar-brand">
                    <img src="~/Content/Images/NemeStats-White.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li><a href="@Url.Action(MVC.Achievement.Index())">Achievements List</a></li>
                            <li><a href="@Url.Action(MVC.PlayedGame.ShowRecentlyPlayedGames())">Recent Games</a></li>
                            <li><a href="@Url.Action(MVC.GameDefinition.ShowTrendingGames())">Trending Games</a></li>
                            <li><a href="@Url.Action(MVC.Achievement.RecentAchievementsUnlocked())">Recently Unlocked Achievements</a></li>
                            <li><a href="@Url.Action(MVC.GamingGroup.GetTopGamingGroups())">Top Gaming Groups</a></li>
                            <li><a href="@Url.Action(MVC.Player.ShowTopPlayers())">Top Players</a></li>
                            <li><a href="@Url.Action(MVC.Home.AboutBadgesAndAchievements())">About Badges and Achievements</a></li>
                            <li class="dropdown-submenu">
                                <a href="#">Contact</a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://nemestats.idea.informer.com/proj/?mod=one" target="_blank"><span class="fa fa-envelope"></span> Feedback</a></li>
                                    <li><a href="https://nemestats-slack-invitation.herokuapp.com/" target="_blank"><span class="fa fa-slack"></span> Slack</a></li>
                                    <li><a href="https://twitter.com/NemeStats" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                                    <li><a href="https://github.com/NemeStats/NemeStats" target="_blank"><span class="fa fa-github"></span> GitHub</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="gtm-recordplayedgamebutton-fromnavbar"><a href="@Url.Action(MVC.PlayedGame.Create())"><span class="fa fa-plus-circle"></span> Record Played Game</a></li>
                    <li id="navMyGamingGroup">@Html.ActionLink("My Gaming Group", "Index", "GamingGroup")</li>
                    <li id="navAbout">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @{ Html.RenderPartial(MVC.Shared.Views._LoginPartial);}
            </div>
        </div>
    </div>

    @RenderBody()

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/pnotify")
    @Scripts.Render("~/bundles/readmore")
    @Scripts.Render("~/bundles/list")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("Scripts", required: false)
    @*@Feedback()*@
</body>
</html>



@helper Feedback()
{
    <script type="text/javascript">
        reformal_wdg_domain = "nemestats";
        reformal_wdg_mode = 0;
        reformal_wdg_title = "NemeStats";
        reformal_wdg_ltitle = "Leave feedback";
        reformal_wdg_lfont = "";
        reformal_wdg_lsize = "";
        reformal_wdg_color = "#FFA000";
        reformal_wdg_bcolor = "#516683";
        reformal_wdg_tcolor = "#FFFFFF";
        reformal_wdg_align = "right";
        reformal_wdg_waction = 1;
        reformal_wdg_vcolor = "#9FCE54";
        reformal_wdg_cmline = "#E0E0E0";
        reformal_wdg_glcolor = "#105895";
        reformal_wdg_tbcolor = "#FFFFFF";
        reformal_wdg_bimage = "8489db229aa0a66ab6b80ebbe0bb26cd.png";
    </script>

    <script type="text/javascript" language="JavaScript" src="@Url.Content(Links.Scripts.Idea_Informer.tab6_js)"></script><noscript>
        <a href="http://nemestats.idea.informer.com">NemeStats feedback </a>
    </noscript>
}
@helper GoogleTagManager()
{
    <script>
        dataLayer = [{
            'universalAnalyticsTrackingId': '@GoogleAnalyticsConfig.GetGoogleAnalyticsTrackingId()'
        }];
    </script>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=@GoogleAnalyticsConfig.GetGoogleTagManagerTrackingId()"
                height="0" width="0" style="display: none; visibility: hidden">
        </iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@GoogleAnalyticsConfig.GetGoogleTagManagerTrackingId()');
    </script>
}

